Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson, @chrisdliu, @michaelli1324

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence. 

*               @g-luo
berkeleytime/   @hantaowang @LEON-MING
kubernetes/     @hantaowang @LEON-MING
build/          @hantaowang @tsaianson
frontend/       @chrisdliu @g-luo @michaelli1324
Jenkinsfile     @hantaowang @tsaianson

removed draft api and added link
  backend/berkeleytime/urls.py
Owners: @hantaowang, @LEON-MING

removed draft api and added link
  backend/berkeleytime/urls.py
Owners: @hantaowang, @LEON-MING

american cultures resource is working
  backend/catalog/models.py
  backend/grades/models.py
  backend/playlist/enums.py
  backend/playlist/models.py
  backend/playlist/resource/american_cultures.py
  backend/playlist/resource/cached_data/american_cultures/american_cultures_override.csv
  backend/playlist/utils/definition/mapper.py
Owners: @g-luo

american cultures resource is working
  backend/catalog/models.py
  backend/grades/models.py
  backend/playlist/enums.py
  backend/playlist/models.py
  backend/playlist/resource/american_cultures.py
  backend/playlist/resource/cached_data/american_cultures/american_cultures_override.csv
  backend/playlist/utils/definition/mapper.py
Owners: @g-luo

Add course service refactor setup
  backend/catalog/mapper/course.py
  backend/catalog/service/course.py
  backend/catalog/service/exc.py
Owners: @g-luo

Add course service refactor setup
  backend/catalog/mapper/course.py
  backend/catalog/service/course.py
  backend/catalog/service/exc.py
Owners: @g-luo

added logging, completed new American Cultures resource, updated university requirements, and playlist command is now working for all types of playlists
  backend/berkeleytime/settings.py
  backend/forms/googleapi.py
  backend/playlist/enums.py
  backend/playlist/resource/cached_data/ls/spring_2021/arts_literature.csv
  backend/playlist/resource/cached_data/ls/spring_2021/biological_science.csv
  backend/playlist/resource/cached_data/ls/spring_2021/historical_studies.csv
  backend/playlist/resource/cached_data/ls/spring_2021/international_studies.csv
  backend/playlist/resource/cached_data/ls/spring_2021/philosophy_values.csv
  backend/playlist/resource/cached_data/ls/spring_2021/physical_science.csv
  backend/playlist/resource/cached_data/ls/spring_2021/social_behavioral_sciences.csv
  backend/playlist/resource/foreign_language.py
  backend/playlist/resource/ls.py
  backend/playlist/resource/reading.py
  backend/playlist/service/abstract.py
  backend/playlist/service/haas.py
  backend/playlist/service/ls.py
  backend/playlist/service/university.py
  backend/playlist/utils/definition/mapper.py
  backend/playlist/utils/utils.py
  backend/requirements.txt
Owners: @hantaowang, @LEON-MING, @g-luo

added logging, completed new American Cultures resource, updated university requirements, and playlist command is now working for all types of playlists
  backend/berkeleytime/settings.py
  backend/forms/googleapi.py
  backend/playlist/enums.py
  backend/playlist/resource/cached_data/ls/spring_2021/arts_literature.csv
  backend/playlist/resource/cached_data/ls/spring_2021/biological_science.csv
  backend/playlist/resource/cached_data/ls/spring_2021/historical_studies.csv
  backend/playlist/resource/cached_data/ls/spring_2021/international_studies.csv
  backend/playlist/resource/cached_data/ls/spring_2021/philosophy_values.csv
  backend/playlist/resource/cached_data/ls/spring_2021/physical_science.csv
  backend/playlist/resource/cached_data/ls/spring_2021/social_behavioral_sciences.csv
  backend/playlist/resource/foreign_language.py
  backend/playlist/resource/ls.py
  backend/playlist/resource/reading.py
  backend/playlist/service/abstract.py
  backend/playlist/service/haas.py
  backend/playlist/service/ls.py
  backend/playlist/service/university.py
  backend/playlist/utils/definition/mapper.py
  backend/playlist/utils/utils.py
  backend/requirements.txt
Owners: @hantaowang, @LEON-MING, @g-luo

Fix typo in requirements.txt
  backend/requirements.txt
Owners: @g-luo

Fix typo in requirements.txt
  backend/requirements.txt
Owners: @g-luo

Add new search algorithm
  frontend/src/components/Catalog/FilterResults.jsx
  frontend/src/components/ClassSearchBar/EnrollmentSearchBar.jsx
  frontend/src/components/ClassSearchBar/GradesSearchBar.jsx
  frontend/src/redux/auth/actions.ts
  frontend/src/redux/auth/reducer.ts
  frontend/src/redux/auth/types.ts
  frontend/src/utils/search.ts
Owners: @chrisdliu, @g-luo, @michaelli1324

Add new search algorithm
  frontend/src/components/Catalog/FilterResults.jsx
  frontend/src/components/ClassSearchBar/EnrollmentSearchBar.jsx
  frontend/src/components/ClassSearchBar/GradesSearchBar.jsx
  frontend/src/redux/auth/actions.ts
  frontend/src/redux/auth/reducer.ts
  frontend/src/redux/auth/types.ts
  frontend/src/utils/search.ts
Owners: @chrisdliu, @g-luo, @michaelli1324

Tweak search values
  frontend/src/components/Catalog/FilterResults.jsx
  frontend/src/utils/search.ts
  frontend/src/views/Catalog/Catalog.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Tweak search values
  frontend/src/components/Catalog/FilterResults.jsx
  frontend/src/utils/search.ts
  frontend/src/views/Catalog/Catalog.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Bring back sorting
  frontend/src/components/Catalog/FilterResults.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Bring back sorting
  frontend/src/components/Catalog/FilterResults.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Add back admin panel for managing user
  backend/berkeleytime/settings.py
Owners: @hantaowang, @LEON-MING

Add back admin panel for managing user
  backend/berkeleytime/settings.py
Owners: @hantaowang, @LEON-MING

Remove local postgres container
  build/docker-compose.yml
  build/nginx.conf
Owners: @hantaowang, @tsaianson

Remove local postgres container
  build/docker-compose.yml
  build/nginx.conf
Owners: @hantaowang, @tsaianson

Add user model migration
  backend/user/migrations/0001_initial.py
Owners: @g-luo

Add user model migration
  backend/user/migrations/0001_initial.py
Owners: @g-luo

Add Graphene user model and JWT
  backend/berkeleytime/schema.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/user/models.py
  backend/user/schema.py
Owners: @hantaowang, @LEON-MING, @g-luo

Add Graphene user model and JWT
  backend/berkeleytime/schema.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/user/models.py
  backend/user/schema.py
Owners: @hantaowang, @LEON-MING, @g-luo

Clean up DRF files
  backend/berkeleytime/router.py
  backend/user/serializers.py
  backend/user/urls.py
  backend/user/views.py
Owners: @hantaowang, @LEON-MING, @g-luo

Clean up DRF files
  backend/berkeleytime/router.py
  backend/user/serializers.py
  backend/user/urls.py
  backend/user/views.py
Owners: @hantaowang, @LEON-MING, @g-luo

added grade csv parser and update logic
  backend/berkeleytime/management/commands/grade.py
  backend/berkeleytime/management/commands/translate-grades.py
  backend/berkeleytime/settings.py
  backend/catalog/mapper/__init__.py
  backend/catalog/resource/__init__.py
  backend/catalog/service/__init__.py
  backend/enrollment/mapper/__init__.py
  backend/enrollment/service/__init__.py
  backend/grades/mapper/__init__.py
  backend/grades/mapper/formatted_grade_mapper.py
  backend/grades/mapper/raw_grade_mapper.py
  backend/grades/migrations/0002_auto_20201025_0653.py
  backend/grades/models.py
  backend/grades/resource/__init__.py
  backend/grades/service/__init__.py
  backend/grades/service/grade_service.py
  backend/playlist/utils/config/abbreviation.yaml
  backend/requirements.txt
Owners: @hantaowang, @LEON-MING, @g-luo

translated grades using new translater
  backend/grades/service/grade_service.py
Owners: @g-luo

translated grades using new translater
  backend/grades/resource/formatted/fall_2013.csv
  backend/grades/resource/formatted/fall_2014.csv
  backend/grades/resource/formatted/fall_2015.csv
  backend/grades/resource/formatted/fall_2016.csv
  backend/grades/resource/formatted/fall_2017.csv
  backend/grades/resource/formatted/fall_2018.csv
  backend/grades/resource/formatted/fall_2019.csv
  backend/grades/resource/formatted/spring_2013.csv
  backend/grades/resource/formatted/spring_2014.csv
  backend/grades/resource/formatted/spring_2015.csv
  backend/grades/resource/formatted/spring_2016.csv
  backend/grades/resource/formatted/spring_2017.csv
  backend/grades/resource/formatted/spring_2018.csv
  backend/grades/resource/formatted/spring_2019.csv
  backend/grades/resource/formatted/summer_2013.csv
  backend/grades/resource/formatted/summer_2014.csv
  backend/grades/resource/formatted/summer_2015.csv
  backend/grades/resource/formatted/summer_2016.csv
  backend/grades/resource/formatted/summer_2017.csv
  backend/grades/resource/formatted/summer_2018.csv
  backend/grades/resource/formatted/summer_2019.csv
  backend/grades/service/grade_service.py
Owners: @g-luo

Add new course mapper and service
  backend/catalog/mapper/course.py
  backend/catalog/service/course.py
  backend/playlist/utils/utils.py
  backend/requirements.txt
Owners: @g-luo

Add new course mapper and service
  backend/catalog/mapper/course.py
  backend/catalog/service/course.py
  backend/playlist/utils/utils.py
  backend/requirements.txt
Owners: @g-luo

Clean up some course service code
  backend/catalog/service/course.py
Owners: @g-luo

Clean up some course service code
  backend/catalog/service/course.py
Owners: @g-luo

Add cross listing field to Course model
  backend/catalog/mapper/course.py
  backend/catalog/models.py
Owners: @g-luo

Add cross listing field to Course model
  backend/catalog/mapper/course.py
  backend/catalog/models.py
Owners: @g-luo

Fix typo from new import path
  backend/catalog/service/course.py
Owners: @g-luo

Fix typo from new import path
  backend/catalog/service/course.py
Owners: @g-luo

updated logging, fixed bugs in grade update service, added field in grades model for all instructors
  backend/berkeleytime/settings.py
  backend/catalog/mapper/section.py
  backend/catalog/models.py
  backend/catalog/resource/sis_class.py
  backend/catalog/resource/sis_course.py
  backend/catalog/service/section.py
  backend/enrollment/mapper/enrollment.py
  backend/grades/mapper/formatted_grade_mapper.py
  backend/grades/migrations/0003_grade_instructors.py
  backend/grades/migrations/0004_auto_20201025_0944.py
  backend/grades/migrations/0005_auto_20201025_1006.py
  backend/grades/models.py
  backend/grades/service/grade_service.py
  backend/grades/utils.py
  backend/playlist/models.py
  backend/playlist/service/abstract.py
Owners: @hantaowang, @LEON-MING, @g-luo

updated logging, fixed bugs in grade update service, added field in grades model for all instructors
  backend/berkeleytime/settings.py
  backend/catalog/mapper/section.py
  backend/catalog/models.py
  backend/catalog/resource/sis_class.py
  backend/catalog/resource/sis_course.py
  backend/catalog/service/section.py
  backend/enrollment/mapper/enrollment.py
  backend/grades/mapper/formatted_grade_mapper.py
  backend/grades/migrations/0003_grade_instructors.py
  backend/grades/migrations/0004_auto_20201025_0944.py
  backend/grades/migrations/0005_auto_20201025_1006.py
  backend/grades/models.py
  backend/grades/service/grade_service.py
  backend/grades/utils.py
  backend/playlist/models.py
  backend/playlist/service/abstract.py
Owners: @hantaowang, @LEON-MING, @g-luo

animation credit & random stuff
  frontend/src/Berkeleytime.tsx
  frontend/src/assets/img/about/group/christina_janet.jpg
  frontend/src/assets/img/about/group/grace_janet.jpg
  frontend/src/assets/img/about/group/janet_jemma.jpg
  frontend/src/assets/img/compress.sh
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/base/_responsive.scss
  frontend/src/assets/scss/bt/base/_typography.scss
  frontend/src/assets/scss/bt/landing/_jumbotron.scss
  frontend/src/components/About/CurrentContributors.tsx
  frontend/src/components/About/PastContributors.tsx
  frontend/src/components/Common/LogPageView.tsx
  frontend/src/components/Custom/H3.tsx
  frontend/src/components/Custom/H6.tsx
  frontend/src/components/Custom/P.tsx
  frontend/src/components/Custom/TextProps.ts
  frontend/src/components/Landing/Jumbotron.tsx
  frontend/src/index.tsx
  frontend/src/views/About.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324
