Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson, @chrisdliu, @michaelli1324

fix grade update bug
  backend/grades/mapper/formatted_grade_mapper.py
  backend/grades/service/grade_service.py
Owners: @g-luo

remove comments on cache
  backend/enrollment/views.py
  backend/grades/views.py
Owners: @g-luo

remove comments on cache
  backend/enrollment/views.py
  backend/grades/views.py
Owners: @g-luo

exclude instructors from filtering
  backend/grades/schema.py
  backend/user/models.py
Owners: @g-luo

exclude instructors from filtering
  backend/grades/schema.py
  backend/user/models.py
Owners: @g-luo

Add mobile fixes to 404 page, bug report form, api docs, and grades/enrollment/catalog
  frontend/src/assets/scss/bt/_forms.scss
  frontend/src/assets/scss/bt/catalog/_catalog.scss
  frontend/src/assets/scss/bt/catalog/_description.scss
  frontend/src/assets/scss/bt/catalog/_modal.scss
  frontend/src/assets/scss/bt/enrollment/_enrollment.scss
  frontend/src/assets/scss/bt/error/_error.scss
  frontend/src/assets/scss/bt/grades/_grades.scss
  frontend/src/assets/scss/bt/grades/_graph.scss
  frontend/src/components/GraphCard/GradesGraphCard.jsx
  frontend/src/components/Graphs/GradesGraph.jsx
  frontend/src/views/Error/Error.jsx
  frontend/src/views/Faq.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Add mobile fixes to 404 page, bug report form, api docs, and grades/enrollment/catalog
  frontend/src/assets/scss/bt/_forms.scss
  frontend/src/assets/scss/bt/catalog/_catalog.scss
  frontend/src/assets/scss/bt/catalog/_description.scss
  frontend/src/assets/scss/bt/catalog/_modal.scss
  frontend/src/assets/scss/bt/enrollment/_enrollment.scss
  frontend/src/assets/scss/bt/error/_error.scss
  frontend/src/assets/scss/bt/grades/_grades.scss
  frontend/src/assets/scss/bt/grades/_graph.scss
  frontend/src/components/GraphCard/GradesGraphCard.jsx
  frontend/src/components/Graphs/GradesGraph.jsx
  frontend/src/views/Error/Error.jsx
  frontend/src/views/Faq.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Updated schema
  frontend/src/graphql/graphql.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Updated schema
  frontend/src/graphql/graphql.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Login mutations with graphql backend
  frontend/src/graphql/fragments/User.graphql
  frontend/src/graphql/graphql.tsx
  frontend/src/graphql/mutations/login.graphql
  frontend/src/views/Login/Login.jsx
  frontend/src/views/Login/Login.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Login mutations with graphql backend
  frontend/src/graphql/fragments/User.graphql
  frontend/src/graphql/graphql.tsx
  frontend/src/graphql/mutations/login.graphql
  frontend/src/views/Login/Login.jsx
  frontend/src/views/Login/Login.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Connect profile pages to graphql
  frontend/.graphqlrc.yml
  frontend/.prettierrc.yml
  frontend/schema.graphql
  frontend/src/components/Common/Navigation.tsx
  frontend/src/components/Login/LoginButton.jsx
  frontend/src/components/Login/LoginButton.tsx
  frontend/src/components/Profile/AccountSubview.jsx
  frontend/src/components/Profile/AccountSubview.tsx
  frontend/src/components/Profile/NotificationsSubview.jsx
  frontend/src/components/Profile/NotificationsSubview.tsx
  frontend/src/components/Profile/Preference.jsx
  frontend/src/components/Profile/Preference.tsx
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Profile/ProfileCard.tsx
  frontend/src/graphql/client.ts
  frontend/src/graphql/fragments/CourseOverview.graphql
  frontend/src/graphql/fragments/User.graphql
  frontend/src/graphql/fragments/UserProfile.graphql
  frontend/src/graphql/graphql.tsx
  frontend/src/graphql/mutations/login.graphql
  frontend/src/graphql/queries/GetUser.graphql
  frontend/src/graphql/stub.graphql
  frontend/src/views/Profile/Profile.jsx
  frontend/src/views/Profile/Profile.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Connect profile pages to graphql
  frontend/.graphqlrc.yml
  frontend/.prettierrc.yml
  frontend/schema.graphql
  frontend/src/components/Common/Navigation.tsx
  frontend/src/components/Login/LoginButton.jsx
  frontend/src/components/Login/LoginButton.tsx
  frontend/src/components/Profile/AccountSubview.jsx
  frontend/src/components/Profile/AccountSubview.tsx
  frontend/src/components/Profile/NotificationsSubview.jsx
  frontend/src/components/Profile/NotificationsSubview.tsx
  frontend/src/components/Profile/Preference.jsx
  frontend/src/components/Profile/Preference.tsx
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Profile/ProfileCard.tsx
  frontend/src/graphql/client.ts
  frontend/src/graphql/fragments/CourseOverview.graphql
  frontend/src/graphql/fragments/User.graphql
  frontend/src/graphql/fragments/UserProfile.graphql
  frontend/src/graphql/graphql.tsx
  frontend/src/graphql/mutations/login.graphql
  frontend/src/graphql/queries/GetUser.graphql
  frontend/src/graphql/stub.graphql
  frontend/src/views/Profile/Profile.jsx
  frontend/src/views/Profile/Profile.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

More typescript and various fixes wooooo
  frontend/src/assets/scss/bt/profile/_profile.scss
  frontend/src/components/Login/LoginButton.tsx
  frontend/src/components/Profile/AccountSubview.tsx
  frontend/src/components/Profile/SupportSubview.jsx
  frontend/src/index.tsx
  frontend/src/views/Profile/Profile.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

More typescript and various fixes wooooo
  frontend/src/assets/scss/bt/profile/_profile.scss
  frontend/src/components/Login/LoginButton.tsx
  frontend/src/components/Profile/AccountSubview.tsx
  frontend/src/components/Profile/SupportSubview.jsx
  frontend/src/index.tsx
  frontend/src/views/Profile/Profile.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Add demo endpoint for aggregate enrollment
  backend/enrollment/models.py
  backend/enrollment/schema.py
Owners: @g-luo

Add demo endpoint for aggregate enrollment
  backend/enrollment/models.py
  backend/enrollment/schema.py
Owners: @g-luo

Added Assets & Bookmark/Remove Buttons
  frontend/src/assets/scss/bt/catalog/_card.scss
  frontend/src/assets/scss/bt/profile/_card.scss
  frontend/src/assets/scss/bt/profile/_profile.scss
  frontend/src/assets/svg/catalog/bookmark-saved.svg
  frontend/src/assets/svg/catalog/bookmark-unsaved.svg
  frontend/src/assets/svg/profile/trash.svg
  frontend/src/components/Catalog/FilterCard.jsx
  frontend/src/components/Profile/AccountSubview.jsx
  frontend/src/components/Profile/ProfileCard.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Added Assets & Bookmark/Remove Buttons
  frontend/src/assets/scss/bt/catalog/_card.scss
  frontend/src/assets/scss/bt/profile/_card.scss
  frontend/src/assets/scss/bt/profile/_profile.scss
  frontend/src/assets/svg/catalog/bookmark-saved.svg
  frontend/src/assets/svg/catalog/bookmark-unsaved.svg
  frontend/src/assets/svg/profile/trash.svg
  frontend/src/components/Catalog/FilterCard.jsx
  frontend/src/components/Profile/AccountSubview.jsx
  frontend/src/components/Profile/ProfileCard.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Update schema
  frontend/src/graphql/graphql.tsx
  schema.graphql
Owners: @chrisdliu, @g-luo, @michaelli1324

Update schema
  frontend/src/graphql/graphql.tsx
  schema.graphql
Owners: @chrisdliu, @g-luo, @michaelli1324

Add styling fixes to /apply, fix classcards styling, disable zoom in on catalog input, fix info tooltip, fix catalog filtering
  frontend/public/assets/releases.yaml
  frontend/src/Routes.tsx
  frontend/src/assets/scss/bt/_classcards.scss
  frontend/src/assets/scss/bt/catalog/_filter.scss
  frontend/src/assets/scss/bt/enrollment/_enrollment.scss
  frontend/src/assets/scss/bt/grades/_grades.scss
  frontend/src/components/Catalog/FilterCard.jsx
  frontend/src/components/ClassCards/ClassCard.jsx
  frontend/src/components/Common/Navigation.tsx
  frontend/src/views/Apply/Apply.jsx
  frontend/src/views/Catalog/Catalog.jsx
  frontend/src/views/Faq.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Add styling fixes to /apply, fix classcards styling, disable zoom in on catalog input, fix info tooltip, fix catalog filtering
  frontend/public/assets/releases.yaml
  frontend/src/Routes.tsx
  frontend/src/assets/scss/bt/_classcards.scss
  frontend/src/assets/scss/bt/catalog/_filter.scss
  frontend/src/assets/scss/bt/enrollment/_enrollment.scss
  frontend/src/assets/scss/bt/grades/_grades.scss
  frontend/src/components/Catalog/FilterCard.jsx
  frontend/src/components/ClassCards/ClassCard.jsx
  frontend/src/components/Common/Navigation.tsx
  frontend/src/views/Apply/Apply.jsx
  frontend/src/views/Catalog/Catalog.jsx
  frontend/src/views/Faq.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

don't show courses with no sections on Enrollment page
  backend/enrollment/views.py
Owners: @g-luo

don't show courses with no sections on Enrollment page
  backend/enrollment/views.py
Owners: @g-luo

Fix about link
  frontend/src/components/About/CurrentContributors.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix about link
  frontend/src/components/About/CurrentContributors.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Remove links on catalog if no grades or enrollment info
  frontend/src/assets/scss/bt/catalog/_description.scss
  frontend/src/components/ClassDescription/ClassDescription.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Remove links on catalog if no grades or enrollment info
  frontend/src/assets/scss/bt/catalog/_description.scss
  frontend/src/components/ClassDescription/ClassDescription.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix graph empty text size
  frontend/src/assets/scss/bt/base/_typography.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix graph empty text size
  frontend/src/assets/scss/bt/base/_typography.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

increase graphql connection limit to 100000 and refactor filtering by playlist
  backend/berkeleytime/settings.py
  backend/catalog/schema.py
Owners: @hantaowang, @LEON-MING, @g-luo

increase graphql connection limit to 100000 and refactor filtering by playlist
  backend/berkeleytime/settings.py
  backend/catalog/schema.py
Owners: @hantaowang, @LEON-MING, @g-luo

rename some berkeleytime references to backend, not sure if relevant
  Jenkinsfile
Owners: @hantaowang, @tsaianson

rename some berkeleytime references to backend, not sure if relevant
  Jenkinsfile
Owners: @hantaowang, @tsaianson

reenabling a hacky forms config caching, let's find a better way to do this
  backend/forms/utils.py
Owners: @g-luo

reenabling a hacky forms config caching, let's find a better way to do this
  backend/forms/utils.py
Owners: @g-luo

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence. 

*               @g-luo
berkeleytime/   @hantaowang @LEON-MING
kubernetes/     @hantaowang @LEON-MING
build/          @hantaowang @tsaianson
frontend/       @chrisdliu @g-luo @michaelli1324
Jenkinsfile     @hantaowang @tsaianson
