Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @kevinzwang, @AlexXi19, @christinas24

remove accidentally added file
  alumni.txt
Owners: @kevinzwang

remove accidentally added file
  alumni.txt
Owners: @kevinzwang

No mobile scheduler (#522)
  frontend/src/assets/scss/bt/scheduler/_scheduler.scss
  frontend/src/components/Scheduler/ScheduleEditor.tsx
  frontend/src/views/Scheduler/LocalSchedulerPage.tsx
  frontend/src/views/Scheduler/RemoteSchedulerPage.tsx
  frontend/src/views/Scheduler/SchedulerOnboard.tsx
  frontend/src/views/Scheduler/ViewSchedule.tsx
Owners: @christinas24

No mobile scheduler (#522)
  frontend/src/assets/scss/bt/scheduler/_scheduler.scss
  frontend/src/components/Scheduler/ScheduleEditor.tsx
  frontend/src/views/Scheduler/LocalSchedulerPage.tsx
  frontend/src/views/Scheduler/RemoteSchedulerPage.tsx
  frontend/src/views/Scheduler/SchedulerOnboard.tsx
  frontend/src/views/Scheduler/ViewSchedule.tsx
Owners: @christinas24

chore: add dev override for latest semester
  frontend/src/graphql/hooks/semester.ts
Owners: @christinas24

Update Footer.tsx
  frontend/src/components/Common/Footer.tsx
Owners: @christinas24

Revert "Update Footer.tsx"
  frontend/src/components/Common/Footer.tsx
Owners: @christinas24

Update Dockerfile
  frontend/Dockerfile
Owners: @christinas24

Try to resolve frontend build issue
  frontend/Dockerfile
  frontend/src/graphql/hooks/schedule.ts
  frontend/src/views/Scheduler/LocalSchedulerPage.tsx
Owners: @christinas24

Update links
  README.md
  frontend/src/assets/scss/bt/theming/_navbar.scss
  frontend/src/components/Common/Footer.tsx
  frontend/src/components/Common/Navigation.tsx
Owners: @kevinzwang, @christinas24

Update links
  README.md
  frontend/src/assets/scss/bt/theming/_navbar.scss
  frontend/src/components/Common/Footer.tsx
  frontend/src/components/Common/Navigation.tsx
Owners: @kevinzwang, @christinas24

remove status page link
  frontend/src/components/Common/Footer.tsx
Owners: @christinas24

remove status page link
  frontend/src/components/Common/Footer.tsx
Owners: @christinas24

Update Scheduler Title (#530)
  frontend/src/components/Scheduler/CourseSelector.tsx
Owners: @christinas24

Update Scheduler Title (#530)
  frontend/src/components/Scheduler/CourseSelector.tsx
Owners: @christinas24

basic framework for grades resolver
  backend/.DS_Store
  backend/.env.example
  backend/package-lock.json
  backend/src/.DS_Store
  backend/src/generated-types/graphql.ts
  backend/src/modules/grade/controller.ts
  backend/src/modules/grade/formatter.ts
  backend/src/modules/grade/generated-types/module-types.ts
  backend/src/modules/grade/index.ts
  backend/src/modules/grade/model.ts
  backend/src/modules/grade/resolver.ts
  backend/src/modules/grade/typedefs/grade.ts
  backend/src/modules/index.ts
Owners: @AlexXi19

schema merging
  backend/package-lock.json
  backend/package.json
  backend/src/bootstrap/loaders/apollo.ts
  backend/src/modules/grade/controller.ts
  backend/src/modules/grade/typedefs/grade.ts
  backend/src/modules/index.ts
  backend/src/utils/buildSchema.ts
Owners: @AlexXi19

start adding schedule files
  backend/package-lock.json
  backend/src/modules/index.ts
  backend/src/modules/schedule/controller.ts
  backend/src/modules/schedule/fixture.ts
  backend/src/modules/schedule/formatter.ts
  backend/src/modules/schedule/generated-types/module-types.ts
  backend/src/modules/schedule/index
  backend/src/modules/schedule/model.ts
  backend/src/modules/schedule/resolver.ts
  backend/src/modules/schedule/typedefs/schedule.ts
Owners: @AlexXi19

cleanup
  backend/src/bootstrap/loaders/apollo.ts
Owners: @AlexXi19

gitignore
  backend/.gitignore
Owners: @AlexXi19

add quote cache and less aggressive quote-bombing, due to rate limit
  infra/gitlab-notify/server/routes/gitlab.js
Owners: @AlexXi19

disable email sending, due to broken SendGrid account token
  infra/gitlab-notify/server/routes/gitlab.js
Owners: @AlexXi19

convert Slack webhook to Discord webhook, with file attachments for job logs
  infra/gitlab-notify/package.json
  infra/gitlab-notify/server/routes/gitlab.js
Owners: @AlexXi19

Update post-pipeline webhooks to Discord (#536)
  infra/gitlab-notify/package.json
  infra/gitlab-notify/server/routes/gitlab.js
Owners: @AlexXi19

Update post-pipeline webhooks to Discord (#536)
  infra/gitlab-notify/package.json
  infra/gitlab-notify/server/routes/gitlab.js
Owners: @AlexXi19

fix typedef
  backend/src/bootstrap/loaders/apollo.ts
  backend/src/generated-types/graphql.ts
  backend/src/modules/classes/index.ts
  backend/src/modules/schedule/generated-types/module-types.ts
  backend/src/modules/schedule/index.ts
  backend/src/modules/schedule/typedefs/schedule.ts
Owners: @AlexXi19

actions
  backend/.github/workflows/typecheck.yaml
  backend/package.json
  backend/src/generated-types/graphql.ts
Owners: @AlexXi19

Delete .DS_Store
  backend/.DS_Store
Owners: @AlexXi19

killed DS_Store hopefully for real this time?
  backend/src/.DS_Store
Owners: @AlexXi19

killed DS_Store
  backend/.gitignore
Owners: @AlexXi19

fix vulnerabilities and update dependencies
  backend/package-lock.json
  backend/package.json
Owners: @AlexXi19

update to apollo 4 and add linting
  backend/.eslintrc.json
  backend/.github/workflows/lint.yaml
  backend/package-lock.json
  backend/package.json
  backend/src/bootstrap/index.ts
  backend/src/bootstrap/loaders/apollo.ts
  backend/src/bootstrap/loaders/index.ts
  backend/src/modules/grade/controller.ts
  backend/src/modules/grade/typedefs/grade.ts
  backend/src/modules/index.ts
  backend/src/modules/user/schema.ts
  backend/src/modules/user/typedefs/user.ts
  backend/src/utils/buildSchema.ts
Owners: @AlexXi19

change action name
  backend/.github/workflows/lint.yaml
Owners: @AlexXi19

change action name
  backend/.github/workflows/lint.yaml
Owners: @AlexXi19

add classes model
  backend/src/modules/classes/model.ts
Owners: @AlexXi19

add simple enrollment resolver and diff generator
  backend/src/generated-types/graphql.ts
  backend/src/modules/classes/controller.ts
  backend/src/modules/classes/fixture.ts
  backend/src/modules/classes/formatter.ts
  backend/src/modules/classes/generated-types/module-types.ts
  backend/src/modules/classes/index.ts
  backend/src/modules/classes/model.ts
  backend/src/modules/classes/resolver.ts
  backend/src/modules/classes/typedefs/enrollment.ts
  backend/src/modules/index.ts
  backend/src/utils/diff.ts
Owners: @AlexXi19

clean up and remove no explicit any linting
  backend/.eslintrc.json
  backend/src/modules/classes/controller.ts
  backend/src/modules/classes/resolver.ts
  backend/src/utils/diff.ts
Owners: @AlexXi19

added new hashmap for mapping alternative course names
  frontend/src/utils/courses/search.ts
Owners: @christinas24

starting point
  backend/src/generated-types/graphql.ts
  backend/src/modules/grade/controller.ts
  backend/src/modules/grade/generated-types/module-types.ts
  backend/src/modules/grade/model.ts
  backend/src/modules/grade/typedefs/grade.ts
Owners: @AlexXi19

fix linting errors
  backend/src/modules/grade/controller.ts
Owners: @AlexXi19

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence.

*               @kevinzwang
backend/        @AlexXi19
infra/          @AlexXi19
build/          @AlexXi19 @christinas24
frontend/       @christinas24
