Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @kevinzwang, @AlexXi19, @christinas24

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence.

*               @kevinzwang
backend/        @AlexXi19
infra/          @AlexXi19
build/          @AlexXi19 @christinas24
frontend/       @christinas24

chore: add gitignore for seed files
  .gitignore
Owners: @kevinzwang

chore: add gitignore for seed files
  .gitignore
Owners: @kevinzwang

Fix schedule state bug for remote scheduler (#516)
  frontend/src/components/Scheduler/Editor/RemoteScheduler.tsx
Owners: @christinas24

Fix schedule state bug for remote scheduler (#516)
  frontend/src/components/Scheduler/Editor/RemoteScheduler.tsx
Owners: @christinas24

Mobile
  frontend/src/views/Scheduler/Scheduler.tsx
Owners: @christinas24

Mobile
  frontend/src/views/Scheduler/Scheduler.tsx
Owners: @christinas24

useMobile hook, disable Scheduler on mobile devices
  frontend/src/assets/scss/bt/scheduler/_scheduler.scss
  frontend/src/utils/hooks.ts
  frontend/src/views/Scheduler/LocalSchedulerPage.tsx
  frontend/src/views/Scheduler/RemoteSchedulerPage.tsx
  frontend/src/views/Scheduler/Scheduler.tsx
  frontend/src/views/Scheduler/SchedulerOnboard.tsx
  frontend/src/views/Scheduler/ViewSchedule.tsx
Owners: @christinas24

useMobile hook, disable Scheduler on mobile devices
  frontend/src/assets/scss/bt/scheduler/_scheduler.scss
  frontend/src/utils/hooks.ts
  frontend/src/views/Scheduler/LocalSchedulerPage.tsx
  frontend/src/views/Scheduler/RemoteSchedulerPage.tsx
  frontend/src/views/Scheduler/Scheduler.tsx
  frontend/src/views/Scheduler/SchedulerOnboard.tsx
  frontend/src/views/Scheduler/ViewSchedule.tsx
Owners: @christinas24

Remove useMobile hook; use mobile state instead
  frontend/src/utils/hooks.ts
  frontend/src/views/Scheduler/LocalSchedulerPage.tsx
  frontend/src/views/Scheduler/RemoteSchedulerPage.tsx
  frontend/src/views/Scheduler/SchedulerOnboard.tsx
  frontend/src/views/Scheduler/ViewSchedule.tsx
Owners: @christinas24

Remove useMobile hook; use mobile state instead
  frontend/src/utils/hooks.ts
  frontend/src/views/Scheduler/LocalSchedulerPage.tsx
  frontend/src/views/Scheduler/RemoteSchedulerPage.tsx
  frontend/src/views/Scheduler/SchedulerOnboard.tsx
  frontend/src/views/Scheduler/ViewSchedule.tsx
Owners: @christinas24

Update useSelector imports (whoopsies)
  frontend/src/views/Scheduler/LocalSchedulerPage.tsx
  frontend/src/views/Scheduler/RemoteSchedulerPage.tsx
  frontend/src/views/Scheduler/SchedulerOnboard.tsx
  frontend/src/views/Scheduler/ViewSchedule.tsx
Owners: @christinas24

Update useSelector imports (whoopsies)
  frontend/src/views/Scheduler/LocalSchedulerPage.tsx
  frontend/src/views/Scheduler/RemoteSchedulerPage.tsx
  frontend/src/views/Scheduler/SchedulerOnboard.tsx
  frontend/src/views/Scheduler/ViewSchedule.tsx
Owners: @christinas24

auto-format files before editing them
  alumni.txt
  frontend/src/assets/scss/bt/grades/_grades.scss
  frontend/src/assets/scss/bt/grades/_graph.scss
Owners: @kevinzwang, @christinas24

auto-format files before editing them
  alumni.txt
  frontend/src/assets/scss/bt/grades/_grades.scss
  frontend/src/assets/scss/bt/grades/_graph.scss
Owners: @kevinzwang, @christinas24

tweak mobile grades graph appearance
  frontend/src/assets/scss/bt/grades/_grades.scss
  frontend/src/assets/scss/bt/grades/_graph.scss
  frontend/src/components/Graphs/GradesGraph.jsx
Owners: @christinas24

tweak mobile grades graph appearance
  frontend/src/assets/scss/bt/grades/_grades.scss
  frontend/src/assets/scss/bt/grades/_graph.scss
  frontend/src/components/Graphs/GradesGraph.jsx
Owners: @christinas24

add missing space in class card mobile grade info
  frontend/src/components/ClassCards/ClassCardMobile.jsx
Owners: @christinas24

add missing space in class card mobile grade info
  frontend/src/components/ClassCards/ClassCardMobile.jsx
Owners: @christinas24

add DiffService: a resolver to get all the JSON diffs from sis_class_section_history
  backend/package-lock.json
  backend/src/apollo.ts
  backend/src/graphql/resolvers/Diff.ts
  backend/src/graphql/resolvers/SIS_Class_Section.ts
  backend/src/graphql/resolvers/_index.ts
  backend/src/graphql/services/Diff.ts
  backend/src/graphql/services/SIS_Class_Section.ts
  backend/src/graphql/services/_index.ts
  backend/src/models/subtypes.ts
  postman_routes.json
Owners: @AlexXi19, @kevinzwang

Flip the sort order of diffService
  backend/src/graphql/services/Diff.ts
Owners: @AlexXi19

Fix the sort order of single-class case in DiffResolver
  backend/src/graphql/services/Diff.ts
Owners: @AlexXi19

added fuse.js. still need to map over layman terms
  frontend/package.json
  frontend/src/utils/courses/search.ts
  frontend/src/utils/search-utils.ts
Owners: @christinas24

Added spring 2023 course catalog
  backend/berkeleytime/config/finals/semesters/spring2023.py
  backend/berkeleytime/config/general.py
  backend/berkeleytime/config/semesters/spring2023.py
  backend/berkeleytime/settings.py
Owners: @AlexXi19

Added spring 2023 course catalog
  backend/berkeleytime/config/finals/semesters/spring2023.py
  backend/berkeleytime/config/general.py
  backend/berkeleytime/config/semesters/spring2023.py
  backend/berkeleytime/settings.py
Owners: @AlexXi19

fix fall 2020 telebears and update scheduler dates
  backend/berkeleytime/config/general.py
  frontend/src/utils/scheduler/scheduler.ts
Owners: @AlexXi19, @christinas24

fix fall 2020 telebears and update scheduler dates
  backend/berkeleytime/config/general.py
  frontend/src/utils/scheduler/scheduler.ts
Owners: @AlexXi19, @christinas24

Update Scheduler Title
  frontend/src/components/Scheduler/CourseSelector.tsx
Owners: @christinas24

finished catalog links
  frontend/src/assets/scss/bt/catalog/_description.scss
  frontend/src/assets/svg/catalog/link.svg
  frontend/src/components/Catalog/FilterCard.tsx
  frontend/src/components/ClassDescription/ClassDescription.tsx
  frontend/src/components/ClassDescription/SectionTable.tsx
Owners: @christinas24

finished catalog links
  frontend/src/assets/scss/bt/catalog/_description.scss
  frontend/src/assets/svg/catalog/link.svg
  frontend/src/components/Catalog/FilterCard.tsx
  frontend/src/components/ClassDescription/ClassDescription.tsx
  frontend/src/components/ClassDescription/SectionTable.tsx
Owners: @christinas24

Add instructions to setup.md and move db data to docker volume
  build/docker-compose.yml
  setup.md
Owners: @AlexXi19, @christinas24, @kevinzwang

Add instructions to setup.md and move db data to docker volume
  build/docker-compose.yml
  setup.md
Owners: @AlexXi19, @christinas24, @kevinzwang

Responsive scheduler; need to speek with design team
  frontend/src/assets/scss/bt/scheduler/_scheduler.scss
  frontend/src/components/Scheduler/ScheduleEditor.tsx
Owners: @christinas24

Responsive scheduler; need to speek with design team
  frontend/src/assets/scss/bt/scheduler/_scheduler.scss
  frontend/src/components/Scheduler/ScheduleEditor.tsx
Owners: @christinas24

setup
  backend/.env.example
  backend/README.md
  backend/docker-compose.yml
  backend/package-lock.json
  backend/package.json
  backend/src/bootstrap/loaders/apollo.ts
  backend/src/bootstrap/loaders/mongoose.ts
  backend/src/config.ts
  backend/src/entities/index.ts
  backend/src/entities/todo.ts
  backend/src/modules/index.ts
  backend/src/modules/todo/input.ts
  backend/src/modules/todo/model.ts
  backend/src/modules/todo/resolver.ts
  backend/src/modules/todo/service.ts
  backend/src/modules/user/controller.ts
  backend/src/modules/user/fixture.ts
  backend/src/modules/user/formatter.ts
  backend/src/modules/user/index.ts
  backend/src/modules/user/model.ts
  backend/src/modules/user/resolver.ts
  backend/src/modules/user/schema.ts
  backend/src/tests/utils/index.ts
  backend/src/utils/buildSchema.ts
  backend/src/utils/index.ts
  backend/src/utils/scalars.ts
Owners: @AlexXi19

Update README.md
  backend/README.md
Owners: @AlexXi19

cleanup
  backend/README.md
  backend/src/tests/integration/__snapshots__/todo.test.ts.snap
  backend/src/tests/integration/todo.test.ts
  backend/src/tests/utils/index.ts
  backend/src/utils/scalars.ts
Owners: @AlexXi19

codegen
  backend/codegen.ts
  backend/package-lock.json
  backend/package.json
  backend/src/generated-types/graphql.ts
  backend/src/modules/index.ts
  backend/src/modules/user/formatter.ts
  backend/src/modules/user/generated-types/module-types.ts
  backend/src/modules/user/index.ts
  backend/src/modules/user/model.ts
  backend/src/modules/user/resolver.ts
  backend/src/modules/user/schema.ts
  backend/src/modules/user/typedefs/user.ts
Owners: @AlexXi19

Update README.md
  backend/README.md
Owners: @AlexXi19

update generate types
  backend/README.md
  backend/package.json
Owners: @AlexXi19

remove unused import
  frontend/src/utils/hooks.ts
Owners: @christinas24
