Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson, @chrisdliu, @michaelli1324

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence. 

*               @g-luo
berkeleytime/   @hantaowang @LEON-MING
kubernetes/     @hantaowang @LEON-MING
build/          @hantaowang @tsaianson
frontend/       @chrisdliu @g-luo @michaelli1324
Jenkinsfile     @hantaowang @tsaianson

quick fix enrollment bug
  berkeleytime/data/views.py
Owners: @hantaowang, @LEON-MING

quick fix enrollment bug
  berkeleytime/data/views.py
Owners: @hantaowang, @LEON-MING

fix bug where waitlist max was wrong
  berkeleytime/data/views.py
Owners: @hantaowang, @LEON-MING

fix bug where waitlist max was wrong
  berkeleytime/data/views.py
Owners: @hantaowang, @LEON-MING

add 2 more easter eggs
  frontend/src/assets/img/eggs/garcia.png
  frontend/src/assets/img/eggs/kubi.png
  frontend/src/components/ClassDescription/ClassDescription.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

add 2 more easter eggs
  frontend/src/assets/img/eggs/garcia.png
  frontend/src/assets/img/eggs/kubi.png
  frontend/src/components/ClassDescription/ClassDescription.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

add long option to course jsons
  berkeleytime/data/views.py
  frontend/public/assets/swagger.yaml
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

add long option to course jsons
  berkeleytime/data/views.py
  frontend/public/assets/swagger.yaml
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

Change admin to Grace
  berkeleytime/berkeleytime/settings.py
Owners: @hantaowang, @LEON-MING

Change admin to Grace
  berkeleytime/berkeleytime/settings.py
Owners: @hantaowang, @LEON-MING

add recruiting join page
  build/docker-compose.yml
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/_join.scss
  frontend/src/assets/scss/bt/about/_position.scss
  frontend/src/components/Common/Navigation.jsx
  frontend/src/components/Recruiting/Position.jsx
  frontend/src/views/Join/Join.jsx
Owners: @hantaowang, @tsaianson, @chrisdliu, @g-luo, @michaelli1324

add recruiting join page
  build/docker-compose.yml
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/_join.scss
  frontend/src/assets/scss/bt/about/_position.scss
  frontend/src/components/Common/Navigation.jsx
  frontend/src/components/Recruiting/Position.jsx
  frontend/src/views/Join/Join.jsx
Owners: @hantaowang, @tsaianson, @chrisdliu, @g-luo, @michaelli1324

add the design application
  berkeleytime/forms/configs/DesignApp.yaml
  frontend/package.json
  frontend/src/assets/scss/bt/_forms.scss
  frontend/src/components/Form/Form.jsx
  frontend/src/routes/routes.js
  frontend/src/views/Forms/DesignApp.jsx
  frontend/src/views/Join/Join.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

add the design application
  berkeleytime/forms/configs/DesignApp.yaml
  frontend/package.json
  frontend/src/assets/scss/bt/_forms.scss
  frontend/src/components/Form/Form.jsx
  frontend/src/routes/routes.js
  frontend/src/views/Forms/DesignApp.jsx
  frontend/src/views/Join/Join.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

change some markdown formatting
  berkeleytime/forms/configs/DesignApp.yaml
  frontend/src/assets/scss/bt/_forms.scss
  frontend/src/views/Join/Join.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

change some markdown formatting
  berkeleytime/forms/configs/DesignApp.yaml
  frontend/src/assets/scss/bt/_forms.scss
  frontend/src/views/Join/Join.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

Add code formatting
  frontend/src/assets/scss/bt/_forms.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Add code formatting
  frontend/src/assets/scss/bt/_forms.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

add inline code markdown formatting
  frontend/src/assets/scss/bt/_forms.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

add inline code markdown formatting
  frontend/src/assets/scss/bt/_forms.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

add ability to stop accepting responses if form expires
  berkeleytime/forms/configs/TestSurvey0.yaml
  berkeleytime/forms/googleapi.py
  berkeleytime/forms/views.py
  frontend/src/assets/scss/bt/_forms.scss
  frontend/src/components/Form/Form.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

add ability to stop accepting responses if form expires
  berkeleytime/forms/configs/TestSurvey0.yaml
  berkeleytime/forms/googleapi.py
  berkeleytime/forms/views.py
  frontend/src/assets/scss/bt/_forms.scss
  frontend/src/components/Form/Form.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

Fix email address on FAQ page
  frontend/src/views/Faq/Faq.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix email address on FAQ page
  frontend/src/views/Faq/Faq.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

add field to schema
  berkeleytime/catalog/migrations/0035_auto__add_field_course_instruction_mode.py
  berkeleytime/catalog/migrations/0036_auto__del_field_course_instruction_mode__add_field_section_instruction.py
  berkeleytime/catalog/models.py
Owners: @hantaowang, @LEON-MING

add field to schema
  berkeleytime/catalog/migrations/0035_auto__add_field_course_instruction_mode.py
  berkeleytime/catalog/migrations/0036_auto__del_field_course_instruction_mode__add_field_section_instruction.py
  berkeleytime/catalog/models.py
Owners: @hantaowang, @LEON-MING

add mapper support in catalog
  berkeleytime/catalog/service/entity/section.py
  berkeleytime/catalog/service/mapper/schedule.py
  berkeleytime/catalog/service/validator/schedule.py
  build/docker-compose.yml
Owners: @hantaowang, @LEON-MING, @tsaianson

add mapper support in catalog
  berkeleytime/catalog/service/entity/section.py
  berkeleytime/catalog/service/mapper/schedule.py
  berkeleytime/catalog/service/validator/schedule.py
  build/docker-compose.yml
Owners: @hantaowang, @LEON-MING, @tsaianson

remove search sorry eli
  build/docker-compose.yml
  search/Dockerfile
  search/README.md
  search/python3/flask/app.py
  search/python3/flask/templates/index_class.html
  search/python3/flask/templates/search.html
  search/requirements.txt
Owners: @hantaowang, @tsaianson, @g-luo

remove search sorry eli
  build/docker-compose.yml
  search/Dockerfile
  search/README.md
  search/python3/flask/app.py
  search/python3/flask/templates/index_class.html
  search/python3/flask/templates/search.html
  search/requirements.txt
Owners: @hantaowang, @tsaianson, @g-luo

fix scrollbars not showing up
  frontend/src/assets/scss/bt/enrollment/_enrollment.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

fix scrollbars not showing up
  frontend/src/assets/scss/bt/enrollment/_enrollment.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix email address on FAQ page
  frontend/src/views/Faq/Faq.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix email address on FAQ page
  frontend/src/views/Faq/Faq.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

fix scrollbars not showing up
  frontend/src/assets/scss/bt/enrollment/_enrollment.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

fix scrollbars not showing up
  frontend/src/assets/scss/bt/enrollment/_enrollment.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

remove limit range forever
  kubernetes/manifests/configs/limitrange.yaml
Owners: @hantaowang, @LEON-MING

remove limit range forever
  kubernetes/manifests/configs/limitrange.yaml
Owners: @hantaowang, @LEON-MING

fix bug with updating times to none
  berkeleytime/berkeleytime/urls.py
  berkeleytime/catalog/service/store/section.py
  build/docker-compose.yml
Owners: @hantaowang, @LEON-MING, @tsaianson

fix bug with updating times to none
  berkeleytime/berkeleytime/urls.py
  berkeleytime/catalog/service/store/section.py
  build/docker-compose.yml
Owners: @hantaowang, @LEON-MING, @tsaianson
