Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson, @chrisdliu, @michaelli1324

Migrate more code to typescript + hooks
  frontend/codegen.yml
  frontend/package.json
  frontend/src/components/Catalog/FilterResults.tsx
  frontend/src/components/ClassDescription/ClassDescription.jsx
  frontend/src/components/ClassDescription/ClassDescriptionModal.jsx
  frontend/src/components/ClassDescription/ClassDescriptionModal.tsx
  frontend/src/graphql/graphql.tsx
  frontend/src/graphql/queries/GetCoursesForFilter.graphql
  frontend/src/utils/courses.ts
  frontend/src/views/Catalog/Catalog.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Move more of the Catalog to GraphQL
  frontend/.graphqlrc.yml
  frontend/.prettierrc.yml
  frontend/package.json
  frontend/src/assets/scss/bt/catalog/_description.scss
  frontend/src/components/Catalog/FilterCard.jsx
  frontend/src/components/Catalog/FilterCard.tsx
  frontend/src/components/Catalog/FilterResults.tsx
  frontend/src/components/ClassDescription/ClassDescription.jsx
  frontend/src/components/ClassDescription/ClassDescription.tsx
  frontend/src/components/ClassDescription/ClassDescriptionModal.tsx
  frontend/src/components/Errors/BTErrorBoundry.tsx
  frontend/src/graphql/fragments/CourseOverview.graphql
  frontend/src/graphql/fragments/Filter.graphql
  frontend/src/graphql/fragments/FullCourse.graphql
  frontend/src/graphql/graphql.tsx
  frontend/src/graphql/queries/GetCourseForId.graphql
  frontend/src/graphql/queries/GetCoursesForFilter.graphql
  frontend/src/graphql/queries/GetFilters.graphql
  frontend/src/utils/courses/search.ts
  frontend/src/utils/courses/sorting.ts
  frontend/src/utils/date.ts
  frontend/src/utils/playlist.ts
  frontend/src/views/Catalog/Catalog.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Move more of the Catalog to GraphQL
  frontend/.graphqlrc.yml
  frontend/.prettierrc.yml
  frontend/package.json
  frontend/src/assets/scss/bt/catalog/_description.scss
  frontend/src/components/Catalog/FilterCard.jsx
  frontend/src/components/Catalog/FilterCard.tsx
  frontend/src/components/Catalog/FilterResults.tsx
  frontend/src/components/ClassDescription/ClassDescription.jsx
  frontend/src/components/ClassDescription/ClassDescription.tsx
  frontend/src/components/ClassDescription/ClassDescriptionModal.tsx
  frontend/src/components/Errors/BTErrorBoundry.tsx
  frontend/src/graphql/fragments/CourseOverview.graphql
  frontend/src/graphql/fragments/Filter.graphql
  frontend/src/graphql/fragments/FullCourse.graphql
  frontend/src/graphql/graphql.tsx
  frontend/src/graphql/queries/GetCourseForId.graphql
  frontend/src/graphql/queries/GetCoursesForFilter.graphql
  frontend/src/graphql/queries/GetFilters.graphql
  frontend/src/utils/courses/search.ts
  frontend/src/utils/courses/sorting.ts
  frontend/src/utils/date.ts
  frontend/src/utils/playlist.ts
  frontend/src/views/Catalog/Catalog.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

add L&S req cached data to prod
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/arts_literature.csv
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/biological_science.csv
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/historical_studies.csv
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/international_studies.csv
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/philosophy_values.csv
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/physical_science.csv
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/social_behavioral_sciences.csv
  berkeleytime/mondaine/service/resource/ls.py
Owners: @hantaowang, @LEON-MING

add L&S req cached data to prod
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/arts_literature.csv
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/biological_science.csv
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/historical_studies.csv
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/international_studies.csv
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/philosophy_values.csv
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/physical_science.csv
  berkeleytime/mondaine/service/resource/data/ls/sis_cache/spring_2021/social_behavioral_sciences.csv
  berkeleytime/mondaine/service/resource/ls.py
Owners: @hantaowang, @LEON-MING

Connect all nodes in cross listing graphs
  backend/catalog/service/course.py
Owners: @g-luo

Connect all nodes in cross listing graphs
  backend/catalog/service/course.py
Owners: @g-luo

Update about page
  frontend/public/assets/past_contributors.yaml
  frontend/src/assets/img/about/2020-21/annie_1.png
  frontend/src/assets/img/about/2020-21/annie_2.png
  frontend/src/assets/img/about/2020-21/austin_1.png
  frontend/src/assets/img/about/2020-21/austin_2.png
  frontend/src/assets/img/about/2020-21/chris_1.png
  frontend/src/assets/img/about/2020-21/chris_2.png
  frontend/src/assets/img/about/2020-21/christina_1.png
  frontend/src/assets/img/about/2020-21/christina_2.png
  frontend/src/assets/img/about/2020-21/grace_1.png
  frontend/src/assets/img/about/2020-21/grace_2.png
  frontend/src/assets/img/about/2020-21/hannah_1.png
  frontend/src/assets/img/about/2020-21/hannah_2.png
  frontend/src/assets/img/about/2020-21/hiroshi_1.png
  frontend/src/assets/img/about/2020-21/hiroshi_2.png
  frontend/src/assets/img/about/2020-21/janet_1.png
  frontend/src/assets/img/about/2020-21/janet_2.png
  frontend/src/assets/img/about/2020-21/jonathan_1.png
  frontend/src/assets/img/about/2020-21/jonathan_2.png
  frontend/src/assets/img/about/2020-21/junghyun_1.png
  frontend/src/assets/img/about/2020-21/junghyun_2.png
  frontend/src/assets/img/about/2020-21/kevin_1.png
  frontend/src/assets/img/about/2020-21/kevin_2.png
  frontend/src/assets/img/about/2020-21/leon_1.png
  frontend/src/assets/img/about/2020-21/leon_2.png
  frontend/src/assets/img/about/2020-21/michael_1.png
  frontend/src/assets/img/about/2020-21/michael_2.jpg
  frontend/src/assets/img/about/2020-21/shuming_1.png
  frontend/src/assets/img/about/2020-21/shuming_2.png
  frontend/src/assets/img/about/2020-21/vihan_1.png
  frontend/src/components/About/CurrentContributors.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Update about page
  frontend/public/assets/past_contributors.yaml
  frontend/src/assets/img/about/2020-21/annie_1.png
  frontend/src/assets/img/about/2020-21/annie_2.png
  frontend/src/assets/img/about/2020-21/austin_1.png
  frontend/src/assets/img/about/2020-21/austin_2.png
  frontend/src/assets/img/about/2020-21/chris_1.png
  frontend/src/assets/img/about/2020-21/chris_2.png
  frontend/src/assets/img/about/2020-21/christina_1.png
  frontend/src/assets/img/about/2020-21/christina_2.png
  frontend/src/assets/img/about/2020-21/grace_1.png
  frontend/src/assets/img/about/2020-21/grace_2.png
  frontend/src/assets/img/about/2020-21/hannah_1.png
  frontend/src/assets/img/about/2020-21/hannah_2.png
  frontend/src/assets/img/about/2020-21/hiroshi_1.png
  frontend/src/assets/img/about/2020-21/hiroshi_2.png
  frontend/src/assets/img/about/2020-21/janet_1.png
  frontend/src/assets/img/about/2020-21/janet_2.png
  frontend/src/assets/img/about/2020-21/jonathan_1.png
  frontend/src/assets/img/about/2020-21/jonathan_2.png
  frontend/src/assets/img/about/2020-21/junghyun_1.png
  frontend/src/assets/img/about/2020-21/junghyun_2.png
  frontend/src/assets/img/about/2020-21/kevin_1.png
  frontend/src/assets/img/about/2020-21/kevin_2.png
  frontend/src/assets/img/about/2020-21/leon_1.png
  frontend/src/assets/img/about/2020-21/leon_2.png
  frontend/src/assets/img/about/2020-21/michael_1.png
  frontend/src/assets/img/about/2020-21/michael_2.jpg
  frontend/src/assets/img/about/2020-21/shuming_1.png
  frontend/src/assets/img/about/2020-21/shuming_2.png
  frontend/src/assets/img/about/2020-21/vihan_1.png
  frontend/src/components/About/CurrentContributors.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Add frontend graphql config
  build/nginx.conf
  frontend/package.json
  frontend/relay.config.js
  frontend/schema.graphql
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/index.tsx
  frontend/src/relay/environment.js
Owners: @hantaowang, @tsaianson, @chrisdliu, @g-luo, @michaelli1324

Add frontend graphql config
  build/nginx.conf
  frontend/package.json
  frontend/relay.config.js
  frontend/schema.graphql
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/index.tsx
  frontend/src/relay/environment.js
Owners: @hantaowang, @tsaianson, @chrisdliu, @g-luo, @michaelli1324

Add Apollo GraphQL
  frontend/codegen.yml
  frontend/package.json
  frontend/relay.config.js
  frontend/src/graphql/client.ts
  frontend/src/graphql/graphql.tsx
  frontend/src/graphql/queries/GetFilters.graphql
  frontend/src/graphql/stub.graphql
  frontend/src/index.tsx
  frontend/src/relay/environment.js
Owners: @chrisdliu, @g-luo, @michaelli1324

Add Apollo GraphQL
  frontend/codegen.yml
  frontend/package.json
  frontend/relay.config.js
  frontend/src/graphql/client.ts
  frontend/src/graphql/graphql.tsx
  frontend/src/graphql/queries/GetFilters.graphql
  frontend/src/graphql/stub.graphql
  frontend/src/index.tsx
  frontend/src/relay/environment.js
Owners: @chrisdliu, @g-luo, @michaelli1324

update UserProfile types in redux
  frontend/src/redux/auth/types.ts
Owners: @chrisdliu, @g-luo, @michaelli1324

update UserProfile types in redux
  frontend/src/redux/auth/types.ts
Owners: @chrisdliu, @g-luo, @michaelli1324

Move some config changes
  frontend/codegen.yml
  frontend/package.json
Owners: @chrisdliu, @g-luo, @michaelli1324

Move some config changes
  frontend/codegen.yml
  frontend/package.json
Owners: @chrisdliu, @g-luo, @michaelli1324

added grade and enrollment filters for course query
  backend/catalog/schema.py
  backend/enrollment/schema.py
Owners: @g-luo

added grade and enrollment filters for course query
  backend/catalog/schema.py
  backend/enrollment/schema.py
Owners: @g-luo

All mobile views, including fixes to catalog, grades, enrollment
  frontend/.gitignore
  frontend/src/Berkeleytime.tsx
  frontend/src/assets/scss/bt/_classcards.scss
  frontend/src/assets/scss/bt/_graph-empty.scss
  frontend/src/assets/scss/bt/apidocs/_apidocs.scss
  frontend/src/assets/scss/bt/base/_responsive.scss
  frontend/src/assets/scss/bt/base/_typography.scss
  frontend/src/assets/scss/bt/catalog/_catalog.scss
  frontend/src/assets/scss/bt/catalog/_description.scss
  frontend/src/assets/scss/bt/catalog/_modal.scss
  frontend/src/assets/scss/bt/common/_footer.scss
  frontend/src/assets/scss/bt/enrollment/_enrollment.scss
  frontend/src/assets/scss/bt/grades/_grades.scss
  frontend/src/assets/scss/bt/grades/_graph.scss
  frontend/src/bt/custom.ts
  frontend/src/components/Catalog/FilterModal.jsx
  frontend/src/components/ClassCards/ClassCard.jsx
  frontend/src/components/ClassCards/ClassCardMobile.jsx
  frontend/src/components/ClassSearchBar/GradesSearchBar.jsx
  frontend/src/components/Common/Footer.tsx
  frontend/src/components/Custom/A.tsx
  frontend/src/components/Custom/Button.tsx
  frontend/src/components/Custom/TextProps.ts
  frontend/src/components/GraphCard/GradesGraphCard.jsx
  frontend/src/components/Graphs/EnrollmentGraph.jsx
  frontend/src/components/Graphs/GradesGraph.jsx
  frontend/src/components/Graphs/GraphEmpty.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

All mobile views, including fixes to catalog, grades, enrollment
  frontend/.gitignore
  frontend/src/Berkeleytime.tsx
  frontend/src/assets/scss/bt/_classcards.scss
  frontend/src/assets/scss/bt/_graph-empty.scss
  frontend/src/assets/scss/bt/apidocs/_apidocs.scss
  frontend/src/assets/scss/bt/base/_responsive.scss
  frontend/src/assets/scss/bt/base/_typography.scss
  frontend/src/assets/scss/bt/catalog/_catalog.scss
  frontend/src/assets/scss/bt/catalog/_description.scss
  frontend/src/assets/scss/bt/catalog/_modal.scss
  frontend/src/assets/scss/bt/common/_footer.scss
  frontend/src/assets/scss/bt/enrollment/_enrollment.scss
  frontend/src/assets/scss/bt/grades/_grades.scss
  frontend/src/assets/scss/bt/grades/_graph.scss
  frontend/src/bt/custom.ts
  frontend/src/components/Catalog/FilterModal.jsx
  frontend/src/components/ClassCards/ClassCard.jsx
  frontend/src/components/ClassCards/ClassCardMobile.jsx
  frontend/src/components/ClassSearchBar/GradesSearchBar.jsx
  frontend/src/components/Common/Footer.tsx
  frontend/src/components/Custom/A.tsx
  frontend/src/components/Custom/Button.tsx
  frontend/src/components/Custom/TextProps.ts
  frontend/src/components/GraphCard/GradesGraphCard.jsx
  frontend/src/components/Graphs/EnrollmentGraph.jsx
  frontend/src/components/Graphs/GradesGraph.jsx
  frontend/src/components/Graphs/GraphEmpty.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

use prod SIS class api instead of uat version
  backend/playlist/resource/ls.py
Owners: @g-luo

change jenkinsfile to deploy staging for backend/
  Jenkinsfile
Owners: @hantaowang, @tsaianson

change jenkinsfile to deploy staging for backend/
  Jenkinsfile
Owners: @hantaowang, @tsaianson

use prod SIS class api instead of uat version
  backend/playlist/resource/ls.py
Owners: @g-luo

filter in playlists
  backend/catalog/schema.py
Owners: @g-luo

filter in playlists
  backend/catalog/schema.py
Owners: @g-luo

stop using relay id, tested out playlist filter on course query
  backend/catalog/schema.py
  backend/enrollment/schema.py
  backend/grades/schema.py
  backend/playlist/schema.py
  backend/user/schema.py
Owners: @g-luo

stop using relay id, tested out playlist filter on course query
  backend/catalog/schema.py
  backend/enrollment/schema.py
  backend/grades/schema.py
  backend/playlist/schema.py
  backend/user/schema.py
Owners: @g-luo

revert to using relay ID, should still work with apollo
  backend/catalog/schema.py
  backend/enrollment/schema.py
  backend/forms/schema.py
  backend/grades/schema.py
  backend/playlist/schema.py
  backend/user/schema.py
Owners: @g-luo

revert to using relay ID, should still work with apollo
  backend/catalog/schema.py
  backend/enrollment/schema.py
  backend/forms/schema.py
  backend/grades/schema.py
  backend/playlist/schema.py
  backend/user/schema.py
Owners: @g-luo

don't return l&s playlists before current semester
  backend/playlist/schema.py
Owners: @g-luo

don't return l&s playlists before current semester
  backend/playlist/schema.py
Owners: @g-luo

added resolvers for overriding units and start/end times
  backend/catalog/schema.py
Owners: @g-luo

added resolvers for overriding units and start/end times
  backend/catalog/schema.py
Owners: @g-luo

fix grade translation/updater
  backend/grades/mapper/formatted_grade_mapper.py
  backend/grades/mapper/raw_grade_mapper.py
  backend/grades/migrations/0007_auto_20201111_0108.py
  backend/grades/models.py
  backend/grades/resource/formatted/fall_2013.csv
  backend/grades/resource/formatted/fall_2014.csv
  backend/grades/resource/formatted/fall_2015.csv
  backend/grades/resource/formatted/fall_2016.csv
  backend/grades/resource/formatted/fall_2017.csv
  backend/grades/resource/formatted/fall_2018.csv
  backend/grades/resource/formatted/fall_2019.csv
  backend/grades/resource/formatted/spring_2013.csv
  backend/grades/resource/formatted/spring_2014.csv
  backend/grades/resource/formatted/spring_2015.csv
  backend/grades/resource/formatted/spring_2016.csv
  backend/grades/resource/formatted/spring_2017.csv
  backend/grades/resource/formatted/spring_2018.csv
  backend/grades/resource/formatted/spring_2019.csv
  backend/grades/resource/formatted/spring_2020.csv
  backend/grades/resource/formatted/summer_2013.csv
  backend/grades/resource/formatted/summer_2014.csv
  backend/grades/resource/formatted/summer_2015.csv
  backend/grades/resource/formatted/summer_2016.csv
  backend/grades/resource/formatted/summer_2017.csv
  backend/grades/resource/formatted/summer_2018.csv
  backend/grades/resource/formatted/summer_2019.csv
  backend/grades/service/grade_service.py
Owners: @g-luo

fix grade translation/updater
  backend/grades/mapper/formatted_grade_mapper.py
  backend/grades/mapper/raw_grade_mapper.py
  backend/grades/migrations/0007_auto_20201111_0108.py
  backend/grades/models.py
  backend/grades/service/grade_service.py
Owners: @g-luo

drop old instructors column, then add back as ArrayField
  backend/grades/migrations/0007_remove_grade_instructors.py
  backend/grades/migrations/0008_grade_instructors.py
Owners: @g-luo

drop old instructors column, then add back as ArrayField
  backend/grades/migrations/0007_remove_grade_instructors.py
  backend/grades/migrations/0008_grade_instructors.py
Owners: @g-luo

fix grade update bug
  backend/grades/mapper/formatted_grade_mapper.py
  backend/grades/service/grade_service.py
Owners: @g-luo

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence. 

*               @g-luo
berkeleytime/   @hantaowang @LEON-MING
kubernetes/     @hantaowang @LEON-MING
build/          @hantaowang @tsaianson
frontend/       @chrisdliu @g-luo @michaelli1324
Jenkinsfile     @hantaowang @tsaianson
