Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC, @christinas24

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence.

*               @vihanb
backend/        @hi-usui @kevinzwang @gundamMC
infra/          @hi-usui @kevinzwang @gundamMC
build/          @hi-usui @kevinzwang @gundamMC
frontend/       @christinas24

fix mongoose version to 6.2.4
  backend/package-lock.json
  backend/package.json
Owners: @hi-usui, @kevinzwang, @gundamMC

fix mongoose version to 6.2.4
  backend/package-lock.json
  backend/package.json
Owners: @hi-usui, @kevinzwang, @gundamMC

stop building Docker images on GCP, build locally
  .gitlab-ci.yml
  infra/k8s/default/bt-backend.yaml
  infra/k8s/default/bt-frontend.yaml
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC

stop building Docker images on GCP, build locally
  .gitlab-ci.yml
  infra/k8s/default/bt-backend.yaml
  infra/k8s/default/bt-frontend.yaml
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC

use self-hosted GitLab bt-gitlab-runner for deploys
  .gitlab-ci.yml
Owners: @vihanb

use self-hosted GitLab bt-gitlab-runner for deploys
  .gitlab-ci.yml
Owners: @vihanb

set image name for deploy-dev
  .gitlab-ci.yml
Owners: @vihanb

set image name for deploy-dev
  .gitlab-ci.yml
Owners: @vihanb

build docker images locally; no longer using GCP
  .gitlab-ci.yml
  infra/k8s/default/bt-backend-data-updater.yaml
  infra/k8s/default/bt-backend.yaml
  infra/k8s/default/bt-frontend.yaml
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC

build docker images locally; no longer using GCP
  .gitlab-ci.yml
  infra/k8s/default/bt-backend-data-updater.yaml
  infra/k8s/default/bt-backend.yaml
  infra/k8s/default/bt-frontend.yaml
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC

change out webhook servers from gcr.io to gitlab
  infra/k8s/default/bt-github-notify.yaml
  infra/k8s/default/bt-gitlab-notify.yaml
  statuspage/config.js
  statuspage/config.statuspage.template.json
  statuspage/index.js
  statuspage/package.json
Owners: @hi-usui, @kevinzwang, @gundamMC, @vihanb

change out webhook servers from gcr.io to gitlab
  infra/k8s/default/bt-github-notify.yaml
  infra/k8s/default/bt-gitlab-notify.yaml
  statuspage/config.js
  statuspage/config.statuspage.template.json
  statuspage/index.js
  statuspage/package.json
Owners: @hi-usui, @kevinzwang, @gundamMC, @vihanb

remove extraneous space
  .gitlab-ci.yml
  infra/k8s/default/bt-github-notify.yaml
  infra/k8s/default/bt-gitlab-notify.yaml
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC

remove extraneous space
  .gitlab-ci.yml
  infra/k8s/default/bt-github-notify.yaml
  infra/k8s/default/bt-gitlab-notify.yaml
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC

remove extraneous space
  .gitlab-ci.yml
Owners: @vihanb

remove extraneous space
  .gitlab-ci.yml
Owners: @vihanb

fix image name
  .gitlab-ci.yml
Owners: @vihanb

fix image name
  .gitlab-ci.yml
Owners: @vihanb

fix image name
  .gitlab-ci.yml
Owners: @vihanb

fix image name
  .gitlab-ci.yml
Owners: @vihanb

fix image name
  .gitlab-ci.yml
Owners: @vihanb

fix image name
  .gitlab-ci.yml
Owners: @vihanb

add
  .gitlab-ci.yml
Owners: @vihanb

add
  .gitlab-ci.yml
Owners: @vihanb

change file extension to ".archive" to indicate that it is NOT a standard ".tgz" file
  README.md
Owners: @vihanb

change file extension to ".archive" to indicate that it is NOT a standard ".tgz" file
  README.md
Owners: @vihanb

add mdb debugging on by default for dev env
  .gitignore
  backend/src/index.ts
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC

add mdb debugging on by default for dev env
  .gitignore
  backend/src/index.ts
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC

make backend host-volume mount src only to fix node_modules not appearing in Docker image
  docker-compose.yml
Owners: @vihanb

make backend host-volume mount src only to fix node_modules not appearing in Docker image
  docker-compose.yml
Owners: @vihanb

add postman environment
  backend/postman_environment.json
  backend/postman_routes.json
Owners: @hi-usui, @kevinzwang, @gundamMC

add postman environment
  backend/postman_environment.json
  backend/postman_routes.json
Owners: @hi-usui, @kevinzwang, @gundamMC

Update README.md
  README.md
Owners: @vihanb

Update README.md
  README.md
Owners: @vihanb

move postman files to root
  README.md
  postman_environment.json
  postman_routes.json
Owners: @vihanb

move postman files to root
  README.md
  postman_environment.json
  postman_routes.json
Owners: @vihanb
