Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson, @chrisdliu, @michaelli1324

animation credit & random stuff
  frontend/src/Berkeleytime.tsx
  frontend/src/assets/img/about/group/christina_janet.jpg
  frontend/src/assets/img/about/group/grace_janet.jpg
  frontend/src/assets/img/about/group/janet_jemma.jpg
  frontend/src/assets/img/compress.sh
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/base/_responsive.scss
  frontend/src/assets/scss/bt/base/_typography.scss
  frontend/src/assets/scss/bt/landing/_jumbotron.scss
  frontend/src/components/About/CurrentContributors.tsx
  frontend/src/components/About/PastContributors.tsx
  frontend/src/components/Common/LogPageView.tsx
  frontend/src/components/Custom/H3.tsx
  frontend/src/components/Custom/H6.tsx
  frontend/src/components/Custom/P.tsx
  frontend/src/components/Custom/TextProps.ts
  frontend/src/components/Landing/Jumbotron.tsx
  frontend/src/index.tsx
  frontend/src/views/About.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

changed default avg grade to -1
  backend/grades/migrations/0006_auto_20201025_2203.py
  backend/grades/models.py
Owners: @g-luo

changed default avg grade to -1
  backend/grades/migrations/0006_auto_20201025_2203.py
  backend/grades/models.py
Owners: @g-luo

small gap
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/landing/_jumbotron.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

small gap
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/landing/_jumbotron.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Remove fastfuzzy (more like slow fuzzy)
  frontend/package.json
Owners: @chrisdliu, @g-luo, @michaelli1324

Remove fastfuzzy (more like slow fuzzy)
  frontend/package.json
Owners: @chrisdliu, @g-luo, @michaelli1324

added spring 2020 grades CSV files to repo
  backend/catalog/mapper/course.py
  backend/catalog/models.py
  backend/grades/resource/formatted/spring_2020.csv
  backend/grades/resource/raw/spring_2020_grad.csv
  backend/grades/resource/raw/spring_2020_under.csv
  backend/playlist/utils/config/abbreviation.yaml
Owners: @g-luo

added spring 2020 grades CSV files to repo
  backend/catalog/mapper/course.py
  backend/catalog/models.py
  backend/playlist/utils/config/abbreviation.yaml
Owners: @g-luo

updated course update service
  backend/berkeleytime/management/commands/course.py
  backend/catalog/mapper/__init__.py
  backend/catalog/mapper/course.py
  backend/catalog/mapper/section.py
  backend/catalog/resource/sis_course.py
  backend/catalog/service/__init__.py
  backend/catalog/service/course.py
  backend/catalog/service/exc.py
  backend/grades/service/grade_service.py
  backend/playlist/utils/config/abbreviation.yaml
  backend/playlist/utils/utils.py
Owners: @hantaowang, @LEON-MING, @g-luo

updated course update service
  backend/berkeleytime/management/commands/course.py
  backend/catalog/mapper/__init__.py
  backend/catalog/mapper/course.py
  backend/catalog/mapper/section.py
  backend/catalog/resource/sis_course.py
  backend/catalog/service/__init__.py
  backend/catalog/service/course.py
  backend/catalog/service/exc.py
  backend/grades/service/grade_service.py
  backend/playlist/utils/config/abbreviation.yaml
  backend/playlist/utils/utils.py
Owners: @hantaowang, @LEON-MING, @g-luo

fixed some bugs related to updated grade model and merging graphql setup
  backend/Dockerfile
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/catalog/views.py
  backend/grades/views.py
  backend/requirements.txt
Owners: @g-luo, @hantaowang, @LEON-MING

fixed some bugs related to updated grade model and merging graphql setup
  backend/Dockerfile
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/catalog/views.py
  backend/grades/views.py
  backend/requirements.txt
Owners: @g-luo, @hantaowang, @LEON-MING

test out removing has_enrollment filter
  backend/enrollment/views.py
Owners: @g-luo

test out removing has_enrollment filter
  backend/enrollment/views.py
Owners: @g-luo

fixed bugs in section update service
  backend/berkeleytime/management/commands/class.py
  backend/catalog/mapper/section.py
  backend/catalog/resource/sis_class.py
  backend/catalog/service/course.py
  backend/catalog/service/section.py
  backend/enrollment/service/enrollment.py
  backend/enrollment/views.py
  backend/grades/views.py
  build/docker-compose.yml
Owners: @hantaowang, @LEON-MING, @g-luo, @tsaianson

fixed bugs in section update service
  backend/berkeleytime/management/commands/class.py
  backend/catalog/mapper/section.py
  backend/catalog/resource/sis_class.py
  backend/catalog/service/course.py
  backend/catalog/service/section.py
  backend/enrollment/service/enrollment.py
  backend/enrollment/views.py
  backend/grades/views.py
  build/docker-compose.yml
Owners: @hantaowang, @LEON-MING, @g-luo, @tsaianson

refactored enrollment sections code for medium-term optimization (before graphql api rolls out)
  backend/catalog/migrations/0002_auto_20201028_1114.py
  backend/catalog/models.py
  backend/enrollment/views.py
Owners: @g-luo

refactored enrollment sections code for medium-term optimization (before graphql api rolls out)
  backend/catalog/migrations/0002_auto_20201028_1114.py
  backend/catalog/models.py
  backend/enrollment/views.py
Owners: @g-luo

minor refactoring
  backend/catalog/service/course.py
  backend/catalog/service/section.py
  backend/grades/utils.py
  backend/grades/views.py
Owners: @g-luo

minor refactoring
  backend/catalog/service/course.py
  backend/catalog/service/section.py
  backend/grades/utils.py
  backend/grades/views.py
Owners: @g-luo

added derived field computation to course + section updater services
  backend/catalog/migrations/0003_auto_20201028_1312.py
  backend/catalog/migrations/0004_auto_20201028_1325.py
  backend/catalog/models.py
  backend/catalog/service/course.py
  backend/catalog/service/section.py
Owners: @g-luo

added derived field computation to course + section updater services
  backend/catalog/migrations/0003_auto_20201028_1312.py
  backend/catalog/migrations/0004_auto_20201028_1325.py
  backend/catalog/models.py
  backend/catalog/service/course.py
  backend/catalog/service/section.py
Owners: @g-luo

schemas
  backend/berkeleytime/schema.py
Owners: @hantaowang, @LEON-MING

schemas
  backend/berkeleytime/schema.py
Owners: @hantaowang, @LEON-MING

schemas
  backend/catalog/schema.py
  backend/enrollment/schema.py
  backend/forms/schema.py
  backend/grades/schema.py
  backend/playlist/schema.py
Owners: @g-luo

schemas
  backend/catalog/schema.py
  backend/enrollment/schema.py
  backend/forms/schema.py
  backend/grades/schema.py
  backend/playlist/schema.py
Owners: @g-luo

fix typo
  backend/berkeleytime/schema.py
  backend/forms/schema.py
Owners: @hantaowang, @LEON-MING, @g-luo

fix typo
  backend/berkeleytime/schema.py
  backend/forms/schema.py
Owners: @hantaowang, @LEON-MING, @g-luo

added django-filters to provide easy filtering for models
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/catalog/schema.py
  backend/enrollment/schema.py
  backend/grades/schema.py
  backend/playlist/schema.py
  backend/requirements.txt
Owners: @hantaowang, @LEON-MING, @g-luo

added django-filters to provide easy filtering for models
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/catalog/schema.py
  backend/enrollment/schema.py
  backend/grades/schema.py
  backend/playlist/schema.py
  backend/requirements.txt
Owners: @hantaowang, @LEON-MING, @g-luo

init profile subviews
  frontend/src/components/Profile/Property.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

init profile subviews
  frontend/src/components/Profile/Property.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

left selection column
  frontend/src/Routes.tsx
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/profile/_profile.scss
  frontend/src/assets/svg/profile/account.svg
  frontend/src/assets/svg/profile/account_selected.svg
  frontend/src/assets/svg/profile/notif.svg
  frontend/src/assets/svg/profile/notif_selected.svg
  frontend/src/assets/svg/profile/support.svg
  frontend/src/assets/svg/profile/support_selected.svg
  frontend/src/views/Profile/Profile.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

left selection column
  frontend/src/Routes.tsx
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/profile/_profile.scss
  frontend/src/assets/svg/profile/account.svg
  frontend/src/assets/svg/profile/account_selected.svg
  frontend/src/assets/svg/profile/notif.svg
  frontend/src/assets/svg/profile/notif_selected.svg
  frontend/src/assets/svg/profile/support.svg
  frontend/src/assets/svg/profile/support_selected.svg
  frontend/src/views/Profile/Profile.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Added Resource Row & Account Subview
  frontend/src/components/Profile/AccountSubview.jsx
  frontend/src/components/Profile/Resource.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Added Resource Row & Account Subview
  frontend/src/components/Profile/AccountSubview.jsx
  frontend/src/components/Profile/Resource.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Update database
  build/docker-compose.yml
Owners: @hantaowang, @tsaianson

Update database
  build/docker-compose.yml
Owners: @hantaowang, @tsaianson

Fix google auth email
  backend/user/views.py
Owners: @g-luo

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence. 

*               @g-luo
berkeleytime/   @hantaowang @LEON-MING
kubernetes/     @hantaowang @LEON-MING
build/          @hantaowang @tsaianson
frontend/       @chrisdliu @g-luo @michaelli1324
Jenkinsfile     @hantaowang @tsaianson
