Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson, @chrisdliu, @michaelli1324

Add user model migration
  backend/user/migrations/0001_initial.py
Owners: @g-luo

fixed some bugs related to updated grade model
  backend/Dockerfile
  backend/berkeleytime/urls.py
  backend/catalog/views.py
  backend/grades/views.py
Owners: @g-luo, @hantaowang, @LEON-MING

fixed some bugs related to updated grade model
  backend/Dockerfile
  backend/berkeleytime/urls.py
  backend/catalog/views.py
  backend/grades/views.py
Owners: @g-luo, @hantaowang, @LEON-MING

fixed bugs in section update service
  backend/berkeleytime/management/commands/class.py
  backend/catalog/mapper/section.py
  backend/catalog/resource/sis_class.py
  backend/catalog/service/course.py
  backend/catalog/service/section.py
  backend/enrollment/service/enrollment.py
  backend/enrollment/views.py
  backend/grades/views.py
  build/docker-compose.yml
Owners: @hantaowang, @LEON-MING, @g-luo, @tsaianson

fixed timezone issue with section updater
  backend/berkeleytime/settings.py
  backend/catalog/mapper/section.py
  backend/catalog/models.py
  backend/catalog/service/section.py
  backend/enrollment/migrations/0002_auto_20201101_0302.py
  backend/enrollment/models.py
  backend/update-data.sh
Owners: @hantaowang, @LEON-MING, @g-luo

switch to new db for local dev
  backend/catalog/service/course.py
  build/docker-compose.yml
Owners: @g-luo, @hantaowang, @tsaianson

refactored enrollment sections code for medium-term optimization (before graphql api rolls out)
  backend/catalog/migrations/0002_auto_20201028_1114.py
  backend/catalog/models.py
  backend/enrollment/views.py
Owners: @g-luo

fixed bugs in section update service
  backend/berkeleytime/management/commands/class.py
  backend/catalog/mapper/section.py
  backend/catalog/resource/sis_class.py
  backend/catalog/service/course.py
  backend/catalog/service/section.py
  backend/enrollment/service/enrollment.py
  backend/enrollment/views.py
  backend/grades/views.py
  build/docker-compose.yml
Owners: @hantaowang, @LEON-MING, @g-luo, @tsaianson

minor refactoring
  backend/catalog/service/course.py
  backend/catalog/service/section.py
  backend/grades/utils.py
  backend/grades/views.py
Owners: @g-luo

refactored enrollment sections code for medium-term optimization (before graphql api rolls out)
  backend/catalog/migrations/0002_auto_20201028_1114.py
  backend/catalog/models.py
  backend/enrollment/views.py
Owners: @g-luo

fixed timezone issue with section updater
  backend/berkeleytime/settings.py
  backend/catalog/mapper/section.py
  backend/catalog/models.py
  backend/catalog/service/section.py
  backend/enrollment/migrations/0002_auto_20201101_0302.py
  backend/enrollment/models.py
  backend/update-data.sh
Owners: @hantaowang, @LEON-MING, @g-luo

minor refactoring
  backend/catalog/service/course.py
  backend/catalog/service/section.py
  backend/grades/utils.py
  backend/grades/views.py
Owners: @g-luo

test out removing has_enrollment filter
  backend/enrollment/views.py
Owners: @g-luo

added derived field computation to course + section updater services
  backend/catalog/migrations/0003_auto_20201028_1312.py
  backend/catalog/migrations/0004_auto_20201028_1325.py
  backend/catalog/models.py
  backend/catalog/service/course.py
  backend/catalog/service/section.py
Owners: @g-luo

added derived field computation to course + section updater services
  backend/catalog/migrations/0003_auto_20201028_1312.py
  backend/catalog/migrations/0004_auto_20201028_1325.py
  backend/catalog/models.py
  backend/catalog/service/course.py
  backend/catalog/service/section.py
Owners: @g-luo

test out removing has_enrollment filter
  backend/enrollment/views.py
Owners: @g-luo

switch to new db for local dev
  backend/catalog/service/course.py
  build/docker-compose.yml
Owners: @g-luo, @hantaowang, @tsaianson

fixed playlist utils typo
  backend/playlist/utils/utils.py
Owners: @g-luo

fixed playlist utils typo
  backend/playlist/utils/utils.py
Owners: @g-luo

Add update user mutation
  backend/user/schema.py
Owners: @g-luo

Add update user mutation
  backend/user/schema.py
Owners: @g-luo

Add save and remove classes mutation
  backend/user/schema.py
Owners: @g-luo

Add save and remove classes mutation
  backend/user/schema.py
Owners: @g-luo

removed extraneous login.jsx
  frontend/src/views/Login.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

removed extraneous login.jsx
  frontend/src/views/Login.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

small refactor to course derived enrollment fields
  backend/catalog/service/course.py
Owners: @g-luo

small refactor to course derived enrollment fields
  backend/catalog/service/course.py
Owners: @g-luo

Added Components & Styling of all 3 Subviews
  frontend/package.json
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/profile/_account.scss
  frontend/src/assets/scss/bt/profile/_card.scss
  frontend/src/assets/scss/bt/profile/_notifications.scss
  frontend/src/assets/scss/bt/profile/_profile.scss
  frontend/src/components/Profile/AccountSubview.jsx
  frontend/src/components/Profile/NotificationsSubview.jsx
  frontend/src/components/Profile/Preference.jsx
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Profile/Property.jsx
  frontend/src/components/Profile/Resource.jsx
  frontend/src/components/Profile/SupportSubview.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Added Components & Styling of all 3 Subviews
  frontend/package.json
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/profile/_account.scss
  frontend/src/assets/scss/bt/profile/_card.scss
  frontend/src/assets/scss/bt/profile/_notifications.scss
  frontend/src/assets/scss/bt/profile/_profile.scss
  frontend/src/components/Profile/AccountSubview.jsx
  frontend/src/components/Profile/NotificationsSubview.jsx
  frontend/src/components/Profile/Preference.jsx
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Profile/Property.jsx
  frontend/src/components/Profile/Resource.jsx
  frontend/src/components/Profile/SupportSubview.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Add scheduler frontend components
  frontend/package.json
  frontend/src/Routes.tsx
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/scheduler/_callout.scss
  frontend/src/assets/scss/bt/scheduler/_course-calendar.scss
  frontend/src/assets/scss/bt/scheduler/_course-card.scss
  frontend/src/assets/scss/bt/scheduler/_course-selector.scss
  frontend/src/assets/scss/bt/scheduler/_scheduler.scss
  frontend/src/components/Common/Navigation.tsx
  frontend/src/components/Scheduler/Callout.tsx
  frontend/src/components/Scheduler/CourseCalendar.tsx
  frontend/src/components/Scheduler/CourseSelector.tsx
  frontend/src/components/Scheduler/CouseCard.tsx
  frontend/src/utils/range.ts
  frontend/src/utils/time.ts
  frontend/src/views/Scheduler/Scheduler.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Add scheduler frontend components
  frontend/package.json
  frontend/src/Routes.tsx
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/scheduler/_callout.scss
  frontend/src/assets/scss/bt/scheduler/_course-calendar.scss
  frontend/src/assets/scss/bt/scheduler/_course-card.scss
  frontend/src/assets/scss/bt/scheduler/_course-selector.scss
  frontend/src/assets/scss/bt/scheduler/_scheduler.scss
  frontend/src/components/Common/Navigation.tsx
  frontend/src/components/Scheduler/Callout.tsx
  frontend/src/components/Scheduler/CourseCalendar.tsx
  frontend/src/components/Scheduler/CourseSelector.tsx
  frontend/src/components/Scheduler/CouseCard.tsx
  frontend/src/utils/range.ts
  frontend/src/utils/time.ts
  frontend/src/views/Scheduler/Scheduler.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

redirect to profile
  frontend/src/views/Login/Login.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

redirect to profile
  frontend/src/views/Login/Login.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

remove unused function
  frontend/src/utils/search.ts
Owners: @chrisdliu, @g-luo, @michaelli1324

remove unused function
  frontend/src/utils/search.ts
Owners: @chrisdliu, @g-luo, @michaelli1324

Add Resource Row SCSS
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/profile/_support.scss
  frontend/src/components/Profile/Resource.jsx
  frontend/src/components/Profile/SupportSubview.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Add Resource Row SCSS
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/profile/_support.scss
  frontend/src/components/Profile/Resource.jsx
  frontend/src/components/Profile/SupportSubview.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Remove requirement for file changes, because I want Replay to manually rerun builds regardless if files changed or not
  Jenkinsfile
Owners: @hantaowang, @tsaianson

Remove requirement for file changes, because I want Replay to manually rerun builds regardless if files changed or not
  Jenkinsfile
Owners: @hantaowang, @tsaianson

remove login page, change login button
  frontend/src/Routes.tsx
  frontend/src/assets/scss/bt/login/_login.scss
  frontend/src/components/Common/Navigation.tsx
  frontend/src/components/Login/LoginButton.jsx
  frontend/src/redux/auth/reducer.ts
  frontend/src/redux/store.ts
  frontend/src/views/Login/Login.jsx
  frontend/src/views/Profile/Profile.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence. 

*               @g-luo
berkeleytime/   @hantaowang @LEON-MING
kubernetes/     @hantaowang @LEON-MING
build/          @hantaowang @tsaianson
frontend/       @chrisdliu @g-luo @michaelli1324
Jenkinsfile     @hantaowang @tsaianson
