Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @michaelli1324, @hantaowang, @rkooo567, @chrisdliu

update about and add new members
  frontend/src/assets/sass/berkeleytime.css
  frontend/src/components/Contributors/CurrentContributors.jsx
  frontend/src/components/Contributors/PastContributors.jsx
Owners: @chrisdliu, @michaelli1324

update about and add new members
  frontend/src/assets/sass/berkeleytime.css
  frontend/src/components/Contributors/CurrentContributors.jsx
  frontend/src/components/Contributors/PastContributors.jsx
Owners: @chrisdliu, @michaelli1324

changed landing page to bootstrap
  frontend/src/assets/scss/berkeleytime.css
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/_landing.scss
  frontend/src/components/Landing/Explore.jsx
  frontend/src/components/Landing/Mission.jsx
  frontend/src/views/Landing/Landing.jsx
  package-lock.json
Owners: @chrisdliu, @michaelli1324

changed landing page to bootstrap
  frontend/src/assets/scss/berkeleytime.css
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/_landing.scss
  frontend/src/components/Landing/Explore.jsx
  frontend/src/components/Landing/Mission.jsx
  frontend/src/views/Landing/Landing.jsx
  package-lock.json
Owners: @chrisdliu, @michaelli1324

fix bug in schedule.py
  berkeleytime/catalog/service/resource/schedule.py
Owners: @michaelli1324

fix bug in schedule.py
  berkeleytime/catalog/service/resource/schedule.py
Owners: @michaelli1324

ahh
  frontend/src/assets/scss/berkeleytime.css
  frontend/src/assets/scss/bt/catalog/_filter.scss
  frontend/src/components/Contributors/Find Results
  frontend/src/components/FilterSidebar/FilterSidebar.jsx
  frontend/src/views/Catalog/Catalog.jsx
Owners: @chrisdliu, @michaelli1324

ahh
  frontend/src/assets/scss/berkeleytime.css
  frontend/src/assets/scss/bt/catalog/_filter.scss
  frontend/src/components/Contributors/Find Results
  frontend/src/components/FilterSidebar/FilterSidebar.jsx
  frontend/src/views/Catalog/Catalog.jsx
Owners: @chrisdliu, @michaelli1324

Delete package-lock.json
  package-lock.json
Owners: @michaelli1324

Delete package-lock.json
  package-lock.json
Owners: @michaelli1324

Touching file to proc jenkins pipeline -- TESTING
  berkeleytime/requirements.txt
  frontend/README.md
Owners: @michaelli1324, @chrisdliu

Touching file to proc jenkins pipeline -- TESTING
  berkeleytime/requirements.txt
  frontend/README.md
Owners: @michaelli1324, @chrisdliu

pull
  frontend/src/assets/scss/berkeleytime.css
Owners: @chrisdliu, @michaelli1324

pull
  frontend/src/assets/scss/berkeleytime.css
Owners: @chrisdliu, @michaelli1324

Updated spring 2020 data and imported to general (#77)
  berkeleytime/berkeleytime/config/bookstore.py
  berkeleytime/berkeleytime/config/general.py
  berkeleytime/berkeleytime/config/semesters/spring2020.py
Owners: @michaelli1324

Updated spring 2020 data and imported to general (#77)
  berkeleytime/berkeleytime/config/bookstore.py
  berkeleytime/berkeleytime/config/general.py
  berkeleytime/berkeleytime/config/semesters/spring2020.py
Owners: @michaelli1324

changed cert manifest option to fix bugs (#73)
  kubernetes/manifests/infrastructure/ingress.yaml
  kubernetes/manifests/tls/berkeleytime-cert-issuer.yaml
  kubernetes/manifests/tls/berkeleytime-cert.yaml
Owners: @hantaowang, @rkooo567

changed cert manifest option to fix bugs (#73)
  kubernetes/manifests/infrastructure/ingress.yaml
  kubernetes/manifests/tls/berkeleytime-cert-issuer.yaml
  kubernetes/manifests/tls/berkeleytime-cert.yaml
Owners: @hantaowang, @rkooo567

fix bug in schedule.py (#74)
  berkeleytime/catalog/service/resource/schedule.py
Owners: @michaelli1324

fix bug in schedule.py (#74)
  berkeleytime/catalog/service/resource/schedule.py
Owners: @michaelli1324

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*              @michaelli1324
backend/       @hantaowang @rkooo567
kubernetes/    @hantaowang @rkooo567
build/         @hantaowang
frontend/      @chrisdliu @michaelli1324
