Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @michaelli1324, @hantaowang, @rkooo567, @chrisdliu

Optimize images on About page
  frontend/src/assets/img/images/about/ashwin.jpg
  frontend/src/assets/img/images/about/chris.jpg
  frontend/src/assets/img/images/about/evelyn.jpg
  frontend/src/assets/img/images/about/grace.jpg
  frontend/src/assets/img/images/about/jemma.jpg
  frontend/src/assets/img/images/about/leon.jpg
  frontend/src/assets/img/images/about/michael.jpg
  frontend/src/assets/img/images/about/noah.jpg
  frontend/src/assets/img/images/about/octo.jpg
  frontend/src/assets/img/images/about/oski.jpg
  frontend/src/assets/img/images/about/scott.jpg
  frontend/src/assets/img/images/about/yuxin.jpg
Owners: @chrisdliu, @michaelli1324

Optimize images on About page
  frontend/src/assets/img/images/about/ashwin.jpg
  frontend/src/assets/img/images/about/chris.jpg
  frontend/src/assets/img/images/about/evelyn.jpg
  frontend/src/assets/img/images/about/grace.jpg
  frontend/src/assets/img/images/about/jemma.jpg
  frontend/src/assets/img/images/about/leon.jpg
  frontend/src/assets/img/images/about/michael.jpg
  frontend/src/assets/img/images/about/noah.jpg
  frontend/src/assets/img/images/about/octo.jpg
  frontend/src/assets/img/images/about/oski.jpg
  frontend/src/assets/img/images/about/scott.jpg
  frontend/src/assets/img/images/about/yuxin.jpg
Owners: @chrisdliu, @michaelli1324

Revert "Optimize images on About page"
  frontend/src/assets/img/images/about/ashwin.jpg
  frontend/src/assets/img/images/about/chris.jpg
  frontend/src/assets/img/images/about/evelyn.jpg
  frontend/src/assets/img/images/about/grace.jpg
  frontend/src/assets/img/images/about/jemma.jpg
  frontend/src/assets/img/images/about/leon.jpg
  frontend/src/assets/img/images/about/michael.jpg
  frontend/src/assets/img/images/about/noah.jpg
  frontend/src/assets/img/images/about/octo.jpg
  frontend/src/assets/img/images/about/oski.jpg
  frontend/src/assets/img/images/about/scott.jpg
  frontend/src/assets/img/images/about/yuxin.jpg
Owners: @chrisdliu, @michaelli1324

Revert "Optimize images on About page"
  frontend/src/assets/img/images/about/ashwin.jpg
  frontend/src/assets/img/images/about/chris.jpg
  frontend/src/assets/img/images/about/evelyn.jpg
  frontend/src/assets/img/images/about/grace.jpg
  frontend/src/assets/img/images/about/jemma.jpg
  frontend/src/assets/img/images/about/leon.jpg
  frontend/src/assets/img/images/about/michael.jpg
  frontend/src/assets/img/images/about/noah.jpg
  frontend/src/assets/img/images/about/octo.jpg
  frontend/src/assets/img/images/about/oski.jpg
  frontend/src/assets/img/images/about/scott.jpg
  frontend/src/assets/img/images/about/yuxin.jpg
Owners: @chrisdliu, @michaelli1324

Optimize images on About page
  frontend/src/assets/img/images/about/ashwin.jpg
  frontend/src/assets/img/images/about/chris.jpg
  frontend/src/assets/img/images/about/evelyn.jpg
  frontend/src/assets/img/images/about/grace.jpg
  frontend/src/assets/img/images/about/jemma.jpg
  frontend/src/assets/img/images/about/leon.jpg
  frontend/src/assets/img/images/about/michael.jpg
  frontend/src/assets/img/images/about/noah.jpg
  frontend/src/assets/img/images/about/octo.jpg
  frontend/src/assets/img/images/about/oski.jpg
  frontend/src/assets/img/images/about/scott.jpg
  frontend/src/assets/img/images/about/yuxin.jpg
Owners: @chrisdliu, @michaelli1324

Optimize images on About page
  frontend/src/assets/img/images/about/ashwin.jpg
  frontend/src/assets/img/images/about/chris.jpg
  frontend/src/assets/img/images/about/evelyn.jpg
  frontend/src/assets/img/images/about/grace.jpg
  frontend/src/assets/img/images/about/jemma.jpg
  frontend/src/assets/img/images/about/leon.jpg
  frontend/src/assets/img/images/about/michael.jpg
  frontend/src/assets/img/images/about/noah.jpg
  frontend/src/assets/img/images/about/octo.jpg
  frontend/src/assets/img/images/about/oski.jpg
  frontend/src/assets/img/images/about/scott.jpg
  frontend/src/assets/img/images/about/yuxin.jpg
Owners: @chrisdliu, @michaelli1324

Create ISSUES
  ISSUES
Owners: @michaelli1324

Create ISSUES
  ISSUES
Owners: @michaelli1324

Delete ISSUES
  ISSUES
Owners: @michaelli1324

Delete ISSUES
  ISSUES
Owners: @michaelli1324

fix minute format bug
  frontend/src/components/ClassDescription/ClassSections.jsx
Owners: @chrisdliu, @michaelli1324

fix minute format bug
  frontend/src/components/ClassDescription/ClassSections.jsx
Owners: @chrisdliu, @michaelli1324

Add links to applications
  frontend/package.json
  frontend/src/assets/sass/berkeleytime.css
  frontend/src/assets/sass/bt/_buttons.scss
  frontend/src/assets/sass/bt/_landing.scss
  frontend/src/assets/sass/bt/_main-panel.scss
  frontend/src/assets/sass/bt/_navbar.scss
  frontend/src/components/BerkeleyTime/BerkeleyTime.jsx
  frontend/src/components/Landing/Modal.jsx
  frontend/src/components/NavigationLinks/NavigationLinks.jsx
  frontend/src/index.js
  frontend/src/routes/app.js
  frontend/src/views/Apply/Apply.jsx
Owners: @chrisdliu, @michaelli1324

Add links to applications
  frontend/package.json
  frontend/src/assets/sass/berkeleytime.css
  frontend/src/assets/sass/bt/_buttons.scss
  frontend/src/assets/sass/bt/_landing.scss
  frontend/src/assets/sass/bt/_main-panel.scss
  frontend/src/assets/sass/bt/_navbar.scss
  frontend/src/components/BerkeleyTime/BerkeleyTime.jsx
  frontend/src/components/Landing/Modal.jsx
  frontend/src/components/NavigationLinks/NavigationLinks.jsx
  frontend/src/index.js
  frontend/src/routes/app.js
  frontend/src/views/Apply/Apply.jsx
Owners: @chrisdliu, @michaelli1324

Remove application links
  frontend/src/components/Landing/Modal.jsx
  frontend/src/components/NavigationLinks/NavigationLinks.jsx
Owners: @chrisdliu, @michaelli1324

Remove application links
  frontend/src/components/Landing/Modal.jsx
  frontend/src/components/NavigationLinks/NavigationLinks.jsx
Owners: @chrisdliu, @michaelli1324

Remove /apply route
  frontend/src/routes/app.js
Owners: @chrisdliu, @michaelli1324

Remove /apply route
  frontend/src/routes/app.js
Owners: @chrisdliu, @michaelli1324

Add photo for Mary
  frontend/src/assets/img/images/about/mary.jpg
Owners: @chrisdliu, @michaelli1324

Add photo for Mary
  frontend/src/assets/img/images/about/mary.jpg
Owners: @chrisdliu, @michaelli1324

Add photo for Izzie
  frontend/src/assets/img/images/about/izzie.jpg
Owners: @chrisdliu, @michaelli1324

Add photo for Izzie
  frontend/src/assets/img/images/about/izzie.jpg
Owners: @chrisdliu, @michaelli1324

Add files via upload
  frontend/src/assets/img/images/about/chloe.jpeg
Owners: @chrisdliu, @michaelli1324

Add files via upload
  frontend/src/assets/img/images/about/chloe.jpeg
Owners: @chrisdliu, @michaelli1324

Cert manager (#71)
  kubernetes/manifests/tls/berkeleytime-cert.yaml
Owners: @hantaowang, @rkooo567

Cert manager (#71)
  kubernetes/manifests/tls/berkeleytime-cert.yaml
Owners: @hantaowang, @rkooo567

Update package.json
  frontend/package.json
Owners: @chrisdliu, @michaelli1324

Update package.json
  frontend/package.json
Owners: @chrisdliu, @michaelli1324

Annie and Janet
  frontend/src/assets/img/images/about/annie.png
  frontend/src/assets/img/images/about/janet.jpg
Owners: @chrisdliu, @michaelli1324

Annie and Janet
  frontend/src/assets/img/images/about/annie.png
  frontend/src/assets/img/images/about/janet.jpg
Owners: @chrisdliu, @michaelli1324

this compiles
  frontend/src/assets/sass/berkeleytime.css
  frontend/src/assets/sass/bt/_berkeleytime.scss
  frontend/src/assets/sass/bt/_dashboard.scss
  frontend/src/assets/sass/bt/_landing.scss
  frontend/src/components/Bootstrapped/FormInputs/FormInputs.jsx
  frontend/src/components/Bootstrapped/Header/Header.jsx
  frontend/src/components/Bootstrapped/HeaderLinks/HeaderLinks.jsx
  frontend/src/components/Bootstrapped/Sidebar/Sidebar.jsx
  frontend/src/components/Bootstrapped/StatsCard/StatsCard.jsx
  frontend/src/components/Bootstrapped/Tasks/Tasks.jsx
  frontend/src/components/Bootstrapped/UserCard/UserCard.jsx
  frontend/src/components/ClassSearchBar/EnrollmentSearchBar.jsx
  frontend/src/components/ClassSearchBar/GradesSearchBar.jsx
  frontend/src/components/FilterSidebar/FilterSidebar.jsx
  frontend/src/components/GraphCard/EnrollmentGraphCard.jsx
  frontend/src/components/GraphCard/GradesGraphCard.jsx
  frontend/src/elements/CustomButton/CustomButton.js
  frontend/src/elements/CustomButton/CustomButton.jsx
  frontend/src/elements/CustomCheckbox/CustomCheckbox.js
  frontend/src/elements/CustomCheckbox/CustomCheckbox.jsx
  frontend/src/elements/CustomRadio/CustomRadio.js
  frontend/src/elements/CustomRadio/CustomRadio.jsx
  frontend/src/models/course.ts
  frontend/src/models/modes.py
  frontend/src/models/section.ts
Owners: @chrisdliu, @michaelli1324

this compiles
  frontend/src/assets/sass/berkeleytime.css
  frontend/src/assets/sass/bt/_berkeleytime.scss
  frontend/src/assets/sass/bt/_dashboard.scss
  frontend/src/assets/sass/bt/_landing.scss
  frontend/src/components/Bootstrapped/FormInputs/FormInputs.jsx
  frontend/src/components/Bootstrapped/Header/Header.jsx
  frontend/src/components/Bootstrapped/HeaderLinks/HeaderLinks.jsx
  frontend/src/components/Bootstrapped/Sidebar/Sidebar.jsx
  frontend/src/components/Bootstrapped/StatsCard/StatsCard.jsx
  frontend/src/components/Bootstrapped/Tasks/Tasks.jsx
  frontend/src/components/Bootstrapped/UserCard/UserCard.jsx
  frontend/src/components/ClassSearchBar/EnrollmentSearchBar.jsx
  frontend/src/components/ClassSearchBar/GradesSearchBar.jsx
  frontend/src/components/FilterSidebar/FilterSidebar.jsx
  frontend/src/components/GraphCard/EnrollmentGraphCard.jsx
  frontend/src/components/GraphCard/GradesGraphCard.jsx
  frontend/src/elements/CustomButton/CustomButton.js
  frontend/src/elements/CustomButton/CustomButton.jsx
  frontend/src/elements/CustomCheckbox/CustomCheckbox.js
  frontend/src/elements/CustomCheckbox/CustomCheckbox.jsx
  frontend/src/elements/CustomRadio/CustomRadio.js
  frontend/src/elements/CustomRadio/CustomRadio.jsx
  frontend/src/models/course.ts
  frontend/src/models/modes.py
  frontend/src/models/section.ts
Owners: @chrisdliu, @michaelli1324

rename
  frontend/src/assets/scss/berkeleytime.scss
Owners: @chrisdliu, @michaelli1324

rename
  frontend/src/assets/scss/berkeleytime.scss
Owners: @chrisdliu, @michaelli1324

remove bootstrap
  frontend/src/assets/scss/berkeleytime.scss
Owners: @chrisdliu, @michaelli1324

remove bootstrap
  frontend/src/assets/scss/berkeleytime.scss
Owners: @chrisdliu, @michaelli1324

landing
  frontend/src/assets/scss/berkeleytime.css
  frontend/src/assets/scss/bt/_landing.scss
  frontend/src/components/Landing/Jumbotron.jsx
  frontend/src/views/Landing/Landing.jsx
Owners: @chrisdliu, @michaelli1324

landing
  frontend/src/assets/scss/berkeleytime.css
  frontend/src/assets/scss/bt/_landing.scss
  frontend/src/components/Landing/Jumbotron.jsx
  frontend/src/views/Landing/Landing.jsx
Owners: @chrisdliu, @michaelli1324

bootstrap migration stuff
  frontend/public/index.html
  frontend/src/assets/scss/berkeleytime.css
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/_filter-description.scss
  frontend/src/assets/scss/bt/_graph-empty.scss
  frontend/src/assets/scss/bt/_navbar.scss
  frontend/src/assets/scss/bt/base/_typography.scss
  frontend/src/assets/scss/bt/base/_variables.scss
  frontend/src/assets/scss/bt/catalog/_catalog.scss
  frontend/src/assets/scss/bt/catalog/_filter.scss
  frontend/src/assets/scss/bt/landing/_jumbotron.scss
  frontend/src/assets/scss/bt/theming/_buttons.scss
  frontend/src/assets/scss/bt/theming/_navbar.scss
  frontend/src/components/Common/Navigation.jsx
  frontend/src/components/FilterSidebar/FilterSidebar.jsx
  frontend/src/components/FilterSidebar/SortDropdownMenu.jsx
  frontend/src/components/FilterSidebar/SortDropdownToggle.jsx
  frontend/src/components/Landing/Jumbotron.jsx
  frontend/src/components/NavigationLinks/NavigationLinks.jsx
  frontend/src/views/Catalog/Catalog.jsx
Owners: @chrisdliu, @michaelli1324

bootstrap migration stuff
  frontend/public/index.html
  frontend/src/assets/scss/berkeleytime.css
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/_filter-description.scss
  frontend/src/assets/scss/bt/_graph-empty.scss
  frontend/src/assets/scss/bt/_navbar.scss
  frontend/src/assets/scss/bt/base/_typography.scss
  frontend/src/assets/scss/bt/base/_variables.scss
  frontend/src/assets/scss/bt/catalog/_catalog.scss
  frontend/src/assets/scss/bt/catalog/_filter.scss
  frontend/src/assets/scss/bt/landing/_jumbotron.scss
  frontend/src/assets/scss/bt/theming/_buttons.scss
  frontend/src/assets/scss/bt/theming/_navbar.scss
  frontend/src/components/Common/Navigation.jsx
  frontend/src/components/FilterSidebar/FilterSidebar.jsx
  frontend/src/components/FilterSidebar/SortDropdownMenu.jsx
  frontend/src/components/FilterSidebar/SortDropdownToggle.jsx
  frontend/src/components/Landing/Jumbotron.jsx
  frontend/src/components/NavigationLinks/NavigationLinks.jsx
  frontend/src/views/Catalog/Catalog.jsx
Owners: @chrisdliu, @michaelli1324

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*              @michaelli1324
backend/       @hantaowang @rkooo567
kubernetes/    @hantaowang @rkooo567
build/         @hantaowang
frontend/      @chrisdliu @michaelli1324
