Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC, @christinas24

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence.

*               @vihanb
backend/        @hi-usui @kevinzwang @gundamMC
infra/          @hi-usui @kevinzwang @gundamMC
build/          @hi-usui @kevinzwang @gundamMC
frontend/       @christinas24

improve query times
  backend/src/graphql/resolvers/SIS_Course.ts
  backend/src/graphql/services/SIS_Class.ts
  backend/src/graphql/services/SIS_Course.ts
Owners: @hi-usui, @kevinzwang, @gundamMC

improve query times
  backend/src/graphql/resolvers/SIS_Course.ts
  backend/src/graphql/services/SIS_Class.ts
  backend/src/graphql/services/SIS_Course.ts
Owners: @hi-usui, @kevinzwang, @gundamMC

add statements for caching
  backend/src/services/mongodb.ts
Owners: @hi-usui, @kevinzwang, @gundamMC

add statements for caching
  backend/src/services/mongodb.ts
Owners: @hi-usui, @kevinzwang, @gundamMC

fix local development
  build/docker-compose.yml
  frontend/Dockerfile
Owners: @hi-usui, @kevinzwang, @gundamMC, @christinas24

fix local development
  build/docker-compose.yml
  frontend/Dockerfile
Owners: @hi-usui, @kevinzwang, @gundamMC, @christinas24

add 2021 grades
  backend/grades/resource/formatted/fall_2021.csv
  backend/grades/resource/formatted/spring_2021.csv
  backend/grades/resource/formatted/summer_2021.csv
  backend/grades/resource/raw/fall_2021_grad.csv
  backend/grades/resource/raw/fall_2021_under.csv
  backend/grades/resource/raw/spring_2021_grad.csv
  backend/grades/resource/raw/spring_2021_under.csv
  backend/grades/resource/raw/summer_2021_grad.csv
  backend/grades/resource/raw/summer_2021_under.csv
  backend/playlist/utils/config/abbreviation.yaml
Owners: @hi-usui, @kevinzwang, @gundamMC

add 2021 grades
  backend/playlist/utils/config/abbreviation.yaml
Owners: @hi-usui, @kevinzwang, @gundamMC

optimize query time by using indexed 'course.identifiers.id'
  backend/src/controllers/sis_class_sections.ts
  backend/src/controllers/sis_classes.ts
Owners: @hi-usui, @kevinzwang, @gundamMC

optimize query time by using indexed 'course.identifiers.id'
  backend/src/controllers/sis_class_sections.ts
  backend/src/controllers/sis_classes.ts
Owners: @hi-usui, @kevinzwang, @gundamMC

make .env path absolute as process.cwd no longer has guaranteed relative path
  backend/src/env.ts
Owners: @hi-usui, @kevinzwang, @gundamMC

make .env path absolute as process.cwd no longer has guaranteed relative path
  backend/src/env.ts
Owners: @hi-usui, @kevinzwang, @gundamMC

update .gitignore
  .gitignore
  backend/.gitignore
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC

update .gitignore
  .gitignore
  backend/.gitignore
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC

add steps to run local dev with seeded database
  .env.template
  .gitignore
  Makefile
  README.md
  backend/.env.template
  backend/Dockerfile
  backend/postman.json
  backend/src/config.ts
  build/Dockerfile.db
  build/build.rst
  build/docker-compose.yml
  build/init_db.sh
  docker-compose.yml
  frontend/Dockerfile
  nginx.conf
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC, @christinas24

add steps to run local dev with seeded database
  .env.template
  .gitignore
  Makefile
  README.md
  backend/.env.template
  backend/Dockerfile
  backend/postman.json
  backend/src/config.ts
  build/Dockerfile.db
  build/build.rst
  build/docker-compose.yml
  build/init_db.sh
  docker-compose.yml
  frontend/Dockerfile
  nginx.conf
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC, @christinas24

remove old documentation
  .graphqlrc.yml
  conf.py
  documentation.md
  frontend/src/components/About/CurrentContributors.tsx
  index.rst
  setup.md
Owners: @vihanb, @christinas24

remove old documentation
  .graphqlrc.yml
  conf.py
  documentation.md
  frontend/src/components/About/CurrentContributors.tsx
  index.rst
  setup.md
Owners: @vihanb, @christinas24

remove README.md
  backend/README.md
Owners: @hi-usui, @kevinzwang, @gundamMC

remove README.md
  backend/README.md
Owners: @hi-usui, @kevinzwang, @gundamMC

remove unnecessary file
  backend/schema.gql
Owners: @hi-usui, @kevinzwang, @gundamMC

remove unnecessary file
  backend/schema.gql
Owners: @hi-usui, @kevinzwang, @gundamMC

add google oAuth keys
  backend/.env.template
Owners: @hi-usui, @kevinzwang, @gundamMC

add google oAuth keys
  backend/.env.template
Owners: @hi-usui, @kevinzwang, @gundamMC

touch up nginx config, add missing port
  docker-compose.yml
  nginx.conf
Owners: @vihanb

touch up nginx config, add missing port
  docker-compose.yml
  nginx.conf
Owners: @vihanb

upgrade to Node v16, delete unused API section
  frontend/.prettierrc.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Routes.tsx
  frontend/src/components/Catalog/Filter.tsx
  frontend/src/components/Scheduler/Selector/LectureCard.tsx
  frontend/src/utils/sections/sort.ts
  frontend/src/views/Api/Api.jsx
  frontend/src/views/Profile/Profile.tsx
  frontend/tsconfig.json
Owners: @christinas24

upgrade to Node v16, delete unused API section
  frontend/.prettierrc.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Routes.tsx
  frontend/src/components/Catalog/Filter.tsx
  frontend/src/components/Scheduler/Selector/LectureCard.tsx
  frontend/src/utils/sections/sort.ts
  frontend/src/views/Api/Api.jsx
  frontend/src/views/Profile/Profile.tsx
  frontend/tsconfig.json
Owners: @christinas24

fix up merge conflict
  frontend/src/components/Login/LoginModal.jsx
  frontend/src/views/Profile/Profile.tsx
Owners: @christinas24

fix up merge conflict
  frontend/src/components/Login/LoginModal.jsx
  frontend/src/views/Profile/Profile.tsx
Owners: @christinas24

fix transpile errors. convert to absolute paths
  frontend/src/Berkeleytime.tsx
  frontend/src/components/ClassCards/ClassCardList.jsx
  frontend/src/components/GraphCard/EnrollmentGraphCard.jsx
  frontend/src/components/GraphCard/GradesGraphCard.jsx
  frontend/src/components/Graphs/EnrollmentGraph.jsx
  frontend/src/components/Graphs/GradesGraph.jsx
  frontend/src/components/Login/LoginModal.jsx
  frontend/src/graphql/cache.ts
  frontend/src/graphql/graphql.ts
  frontend/src/redux/actions.js
  frontend/src/redux/actions/catalog.js
  frontend/src/redux/reducers/catalog.js
  frontend/src/redux/reducers/classDescription.js
  frontend/src/redux/reducers/enrollment.js
  frontend/src/redux/reducers/filter.js
  frontend/src/redux/reducers/grade.js
  frontend/src/variables/Variables.js
  frontend/tsconfig.json
Owners: @christinas24

fix transpile errors. convert to absolute paths
  frontend/src/Berkeleytime.tsx
  frontend/src/components/ClassCards/ClassCardList.jsx
  frontend/src/components/GraphCard/EnrollmentGraphCard.jsx
  frontend/src/components/GraphCard/GradesGraphCard.jsx
  frontend/src/components/Graphs/EnrollmentGraph.jsx
  frontend/src/components/Graphs/GradesGraph.jsx
  frontend/src/components/Login/LoginModal.jsx
  frontend/src/graphql/cache.ts
  frontend/src/graphql/graphql.ts
  frontend/src/redux/actions.js
  frontend/src/redux/actions/catalog.js
  frontend/src/redux/reducers/catalog.js
  frontend/src/redux/reducers/classDescription.js
  frontend/src/redux/reducers/enrollment.js
  frontend/src/redux/reducers/filter.js
  frontend/src/redux/reducers/grade.js
  frontend/src/variables/Variables.js
  frontend/tsconfig.json
Owners: @christinas24

add precursor to client-based oAuth
  backend/.env.template
  backend/package-lock.json
  backend/package.json
  backend/src/config.ts
  backend/src/controllers/users.ts
  backend/src/index.ts
  backend/src/models/User.ts
  backend/src/routes/users.ts
  backend/src/services/passport.ts
  backend/src/validation/users.ts
  frontend/src/Routes.tsx
  frontend/src/codegen.yml
  frontend/src/components/Login/LoginButton.tsx
  frontend/src/index.tsx
  frontend/src/utils/utils.jsx
  frontend/src/views/Profile/Profile.tsx
Owners: @hi-usui, @kevinzwang, @gundamMC, @christinas24

add precursor to client-based oAuth
  backend/.env.template
  backend/package-lock.json
  backend/package.json
  backend/src/config.ts
  backend/src/controllers/users.ts
  backend/src/index.ts
  backend/src/models/User.ts
  backend/src/routes/users.ts
  backend/src/services/passport.ts
  backend/src/validation/users.ts
  frontend/src/Routes.tsx
  frontend/src/codegen.yml
  frontend/src/components/Login/LoginButton.tsx
  frontend/src/index.tsx
  frontend/src/utils/utils.jsx
  frontend/src/views/Profile/Profile.tsx
Owners: @hi-usui, @kevinzwang, @gundamMC, @christinas24

fix package.json wildcard
  frontend/Dockerfile
Owners: @christinas24

fix package.json wildcard
  frontend/Dockerfile
Owners: @christinas24

fix 2021 spring grades import
  backend/grades/resource/raw/spring_2021_under.csv
Owners: @hi-usui, @kevinzwang, @gundamMC

fix post-processed spring 2021 grades
  backend/grades/resource/formatted/spring_2021.csv
Owners: @hi-usui, @kevinzwang, @gundamMC

wip: get started on getting user profile, add PRIVILEGED_MODE to dev environment
  README.md
  backend/package-lock.json
  backend/package.json
  backend/src/config.ts
  backend/src/controllers/calanswers_grades.ts
  backend/src/controllers/sis_class_sections.ts
  backend/src/controllers/sis_classes.ts
  backend/src/controllers/sis_courses.ts
  backend/src/controllers/users.ts
  backend/src/middlewares.ts
  backend/src/models/User.ts
  backend/src/routes/calanswers_grades.ts
  backend/src/routes/sis_class_sections.ts
  backend/src/routes/sis_classes.ts
  backend/src/routes/sis_courses.ts
  backend/src/routes/users.ts
  backend/src/services/passport.ts
  frontend/src/components/Login/LoginButton.tsx
  frontend/src/config.tsx
  frontend/src/graphql/hooks/user.ts
  frontend/src/index.tsx
  frontend/src/views/Profile/Logout.tsx
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC, @christinas24

wip: get started on getting user profile, add PRIVILEGED_MODE to dev environment
  README.md
  backend/package-lock.json
  backend/package.json
  backend/src/config.ts
  backend/src/controllers/calanswers_grades.ts
  backend/src/controllers/sis_class_sections.ts
  backend/src/controllers/sis_classes.ts
  backend/src/controllers/sis_courses.ts
  backend/src/controllers/users.ts
  backend/src/middlewares.ts
  backend/src/models/User.ts
  backend/src/routes/calanswers_grades.ts
  backend/src/routes/sis_class_sections.ts
  backend/src/routes/sis_classes.ts
  backend/src/routes/sis_courses.ts
  backend/src/routes/users.ts
  backend/src/services/passport.ts
  frontend/src/components/Login/LoginButton.tsx
  frontend/src/config.tsx
  frontend/src/graphql/hooks/user.ts
  frontend/src/index.tsx
  frontend/src/views/Profile/Logout.tsx
Owners: @vihanb, @hi-usui, @kevinzwang, @gundamMC, @christinas24
