Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson, @chrisdliu, @michaelli1324

why does this have to be so confusing
  frontend/src/assets/scss/bt/base/_responsive.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

why does this have to be so confusing
  frontend/src/assets/scss/bt/base/_responsive.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

add 1 min to apps to prevent overload at the end
  berkeleytime/forms/configs/DesignApp.yaml
  berkeleytime/forms/configs/EngineeringApp.yaml
Owners: @hantaowang, @LEON-MING

add 1 min to apps to prevent overload at the end
  berkeleytime/forms/configs/DesignApp.yaml
  berkeleytime/forms/configs/EngineeringApp.yaml
Owners: @hantaowang, @LEON-MING

typescript initial commit
  frontend/package.json
  frontend/src/Berkeleytime.jsx
  frontend/src/Berkeleytime.tsx
  frontend/src/Routes.tsx
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/base/_responsive.scss
  frontend/src/components/CompareClasses/CompareClasses.jsx
  frontend/src/react-app-env.d.ts
  frontend/src/routes/routes.js.old
  frontend/src/views/Login.jsx
  frontend/tsconfig.json
Owners: @chrisdliu, @g-luo, @michaelli1324

typescript initial commit
  frontend/package.json
  frontend/src/Berkeleytime.jsx
  frontend/src/Berkeleytime.tsx
  frontend/src/Routes.tsx
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/base/_responsive.scss
  frontend/src/components/CompareClasses/CompareClasses.jsx
  frontend/src/react-app-env.d.ts
  frontend/src/routes/routes.js.old
  frontend/src/views/Login.jsx
  frontend/tsconfig.json
Owners: @chrisdliu, @g-luo, @michaelli1324

scrolltotop
  frontend/src/components/Common/ScrollToTop.tsx
  frontend/src/components/Scroll/ScrollToTop.jsx
  frontend/src/index.tsx
  frontend/src/routes/routes.js.old
Owners: @chrisdliu, @g-luo, @michaelli1324

scrolltotop
  frontend/src/components/Common/ScrollToTop.tsx
  frontend/src/components/Scroll/ScrollToTop.jsx
  frontend/src/index.tsx
  frontend/src/routes/routes.js.old
Owners: @chrisdliu, @g-luo, @michaelli1324

landing typescript conversion
  frontend/.env
  frontend/README.md
  frontend/package.json
  frontend/src/Routes.tsx
  frontend/src/assets/scss/bt/base/_responsive.scss
  frontend/src/assets/scss/bt/base/_typography.scss
  frontend/src/assets/scss/bt/base/_variables.scss
  frontend/src/assets/scss/bt/landing/_blurbs.scss
  frontend/src/assets/scss/bt/landing/_explore.scss
  frontend/src/assets/scss/bt/landing/_jumbotron.scss
  frontend/src/assets/scss/bt/landing/_landing.scss
  frontend/src/assets/scss/bt/landing/_mission.scss
  frontend/src/assets/scss/bt/theming/_buttons.scss
  frontend/src/bt/custom.ts
  frontend/src/components/Common/ScrollToTop.tsx
  frontend/src/components/Custom/Button.tsx
  frontend/src/components/Custom/H3.tsx
  frontend/src/components/Custom/H6.tsx
  frontend/src/components/Custom/P.tsx
  frontend/src/components/Landing/ArtistCredit.jsx
  frontend/src/components/Landing/Blurbs.jsx
  frontend/src/components/Landing/Blurbs.tsx
  frontend/src/components/Landing/Explore.jsx
  frontend/src/components/Landing/Explore.tsx
  frontend/src/components/Landing/Jumbotron.jsx
  frontend/src/components/Landing/Jumbotron.tsx
  frontend/src/components/Landing/Mission.jsx
  frontend/src/components/Landing/Mission.tsx
  frontend/src/components/Landing/Modal.jsx
  frontend/src/components/Landing/WhatWeDo.jsx
  frontend/src/index.tsx
  frontend/src/views/Landing/Landing.jsx
  frontend/src/views/Landing/Landing.tsx
  frontend/tsconfig.json
Owners: @chrisdliu, @g-luo, @michaelli1324

landing typescript conversion
  frontend/.env
  frontend/README.md
  frontend/package.json
  frontend/src/Routes.tsx
  frontend/src/assets/scss/bt/base/_responsive.scss
  frontend/src/assets/scss/bt/base/_typography.scss
  frontend/src/assets/scss/bt/base/_variables.scss
  frontend/src/assets/scss/bt/landing/_blurbs.scss
  frontend/src/assets/scss/bt/landing/_explore.scss
  frontend/src/assets/scss/bt/landing/_jumbotron.scss
  frontend/src/assets/scss/bt/landing/_landing.scss
  frontend/src/assets/scss/bt/landing/_mission.scss
  frontend/src/assets/scss/bt/theming/_buttons.scss
  frontend/src/bt/custom.ts
  frontend/src/components/Common/ScrollToTop.tsx
  frontend/src/components/Custom/Button.tsx
  frontend/src/components/Custom/H3.tsx
  frontend/src/components/Custom/H6.tsx
  frontend/src/components/Custom/P.tsx
  frontend/src/components/Landing/ArtistCredit.jsx
  frontend/src/components/Landing/Blurbs.jsx
  frontend/src/components/Landing/Blurbs.tsx
  frontend/src/components/Landing/Explore.jsx
  frontend/src/components/Landing/Explore.tsx
  frontend/src/components/Landing/Jumbotron.jsx
  frontend/src/components/Landing/Jumbotron.tsx
  frontend/src/components/Landing/Mission.jsx
  frontend/src/components/Landing/Mission.tsx
  frontend/src/components/Landing/Modal.jsx
  frontend/src/components/Landing/WhatWeDo.jsx
  frontend/src/index.tsx
  frontend/src/views/Landing/Landing.jsx
  frontend/src/views/Landing/Landing.tsx
  frontend/tsconfig.json
Owners: @chrisdliu, @g-luo, @michaelli1324

footer tsx
  frontend/src/assets/scss/bt/base/_typography.scss
  frontend/src/assets/scss/bt/common/_footer.scss
  frontend/src/components/Common/Footer.tsx
  frontend/src/components/Common/ScrollToTop.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

footer tsx
  frontend/src/assets/scss/bt/base/_typography.scss
  frontend/src/assets/scss/bt/common/_footer.scss
  frontend/src/components/Common/Footer.tsx
  frontend/src/components/Common/ScrollToTop.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

remove footer jsx
  frontend/src/components/Common/Footer.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

remove footer jsx
  frontend/src/components/Common/Footer.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

oops
  frontend/src/components/Common/Footer.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

oops
  frontend/src/components/Common/Footer.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

navigation tsx
  frontend/src/assets/scss/bt/theming/_navbar.scss
  frontend/src/components/Common/Navigation.jsx
  frontend/src/components/Common/Navigation.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

navigation tsx
  frontend/src/assets/scss/bt/theming/_navbar.scss
  frontend/src/components/Common/Navigation.jsx
  frontend/src/components/Common/Navigation.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

weird 100vw behavior removed
  frontend/src/Berkeleytime.tsx
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/_faq.scss
  frontend/src/assets/scss/bt/base/_typography.scss
  frontend/src/assets/scss/bt/common/_banner.scss
  frontend/src/assets/scss/bt/common/_footer.scss
  frontend/src/assets/scss/bt/landing/_jumbotron.scss
  frontend/src/assets/scss/bt/landing/_landing.scss
  frontend/src/components/Common/Footer.tsx
  frontend/src/views/Landing/Landing.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

weird 100vw behavior removed
  frontend/src/Berkeleytime.tsx
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/_faq.scss
  frontend/src/assets/scss/bt/base/_typography.scss
  frontend/src/assets/scss/bt/common/_banner.scss
  frontend/src/assets/scss/bt/common/_footer.scss
  frontend/src/assets/scss/bt/landing/_jumbotron.scss
  frontend/src/assets/scss/bt/landing/_landing.scss
  frontend/src/components/Common/Footer.tsx
  frontend/src/views/Landing/Landing.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

start to move img/images into img/
  frontend/src/assets/img/images/facebook_loading.gif
  frontend/src/assets/img/images/landing/course-vector.png
  frontend/src/assets/img/images/landing/enrollment-vector.png
  frontend/src/assets/img/images/landing/grade-vector.png
  frontend/src/assets/img/images/landing/landing_main.svg
  frontend/src/assets/img/landing/asuc_logo.png
  frontend/src/assets/img/landing/stf_logo.jpeg
  frontend/src/components/Landing/Blurbs.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

start to move img/images into img/
  frontend/src/assets/img/images/facebook_loading.gif
  frontend/src/assets/img/images/landing/course-vector.png
  frontend/src/assets/img/images/landing/enrollment-vector.png
  frontend/src/assets/img/images/landing/grade-vector.png
  frontend/src/assets/img/images/landing/landing_main.svg
  frontend/src/assets/img/landing/asuc_logo.png
  frontend/src/assets/img/landing/stf_logo.jpeg
  frontend/src/components/Landing/Blurbs.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

banner tsx
  frontend/src/assets/scss/bt/base/_variables.scss
  frontend/src/assets/scss/bt/common/_banner.scss
  frontend/src/assets/scss/bt/theming/_buttons.scss
  frontend/src/components/Common/Banner.jsx
  frontend/src/components/Common/Banner.tsx
  frontend/src/components/Common/Navigation.tsx
  frontend/src/components/Custom/Button.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

banner tsx
  frontend/src/assets/scss/bt/base/_variables.scss
  frontend/src/assets/scss/bt/common/_banner.scss
  frontend/src/assets/scss/bt/theming/_buttons.scss
  frontend/src/components/Common/Banner.jsx
  frontend/src/components/Common/Banner.tsx
  frontend/src/components/Common/Navigation.tsx
  frontend/src/components/Custom/Button.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

about tsx
  frontend/package.json
  frontend/public/assets/members.yaml
  frontend/public/assets/past_contributors.yaml
  frontend/src/Berkeleytime.tsx
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/about/_about.scss
  frontend/src/assets/scss/bt/about/_current_and_past.scss
  frontend/src/assets/scss/bt/about/_past.scss
  frontend/src/assets/scss/bt/base/_variables.scss
  frontend/src/components/Common/Banner.tsx
  frontend/src/components/Contributors/CurrentContributors.jsx
  frontend/src/components/Contributors/CurrentContributors.tsx
  frontend/src/components/Contributors/PastContributors.jsx
  frontend/src/components/Contributors/PastContributors.tsx
  frontend/src/views/About/About.jsx
  frontend/src/views/About/About.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

about tsx
  frontend/package.json
  frontend/public/assets/members.yaml
  frontend/public/assets/past_contributors.yaml
  frontend/src/Berkeleytime.tsx
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/about/_about.scss
  frontend/src/assets/scss/bt/about/_current_and_past.scss
  frontend/src/assets/scss/bt/about/_past.scss
  frontend/src/assets/scss/bt/base/_variables.scss
  frontend/src/components/Common/Banner.tsx
  frontend/src/components/Contributors/CurrentContributors.jsx
  frontend/src/components/Contributors/CurrentContributors.tsx
  frontend/src/components/Contributors/PastContributors.jsx
  frontend/src/components/Contributors/PastContributors.tsx
  frontend/src/views/About/About.jsx
  frontend/src/views/About/About.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

faq tsx
  frontend/README.md
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/_faq.scss
  frontend/src/components/Common/Banner.tsx
  frontend/src/components/Custom/Button.tsx
  frontend/src/components/Faq/QuestionCard.jsx
  frontend/src/components/Faq/QuestionCard.tsx
  frontend/src/components/Landing/Jumbotron.tsx
  frontend/src/components/Landing/Mission.tsx
  frontend/src/views/Faq/Faq.jsx
  frontend/src/views/Faq/Faq.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

faq tsx
  frontend/README.md
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/_faq.scss
  frontend/src/components/Common/Banner.tsx
  frontend/src/components/Custom/Button.tsx
  frontend/src/components/Faq/QuestionCard.jsx
  frontend/src/components/Faq/QuestionCard.tsx
  frontend/src/components/Landing/Jumbotron.tsx
  frontend/src/components/Landing/Mission.tsx
  frontend/src/views/Faq/Faq.jsx
  frontend/src/views/Faq/Faq.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

fixed foreign language scraper
  berkeleytime/mondaine/service/resource/foreign_language.py
Owners: @hantaowang, @LEON-MING

fixed foreign language scraper
  berkeleytime/mondaine/service/resource/foreign_language.py
Owners: @hantaowang, @LEON-MING

routes
  frontend/src/Routes.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

routes
  frontend/src/Routes.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

aaa
  frontend/src/assets/scss/berkeleytime.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

aaa
  frontend/src/assets/scss/berkeleytime.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

actions
  frontend/src/redux/actionTypes.js
  frontend/src/redux/actions.js
  frontend/src/redux/store.js
  frontend/src/redux/store.ts
Owners: @chrisdliu, @g-luo, @michaelli1324

actions
  frontend/src/redux/actionTypes.js
  frontend/src/redux/actions.js
  frontend/src/redux/store.js
  frontend/src/redux/store.ts
Owners: @chrisdliu, @g-luo, @michaelli1324

aaaaaa
  frontend/src/redux/reducers/banner.js
  frontend/src/redux/reducers/index.js
  frontend/src/views/Apply/Apply.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

aaaaaa
  frontend/src/redux/reducers/banner.js
  frontend/src/redux/reducers/index.js
  frontend/src/views/Apply/Apply.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

separate backend and frontend
  Makefile
Owners: @g-luo

separate backend and frontend
  Makefile
Owners: @g-luo

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence. 

*               @g-luo
berkeleytime/   @hantaowang @LEON-MING
kubernetes/     @hantaowang @LEON-MING
build/          @hantaowang @tsaianson
frontend/       @chrisdliu @g-luo @michaelli1324
Jenkinsfile     @hantaowang @tsaianson
