Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson, @chrisdliu, @michaelli1324

Fix google auth email
  backend/user/views.py
Owners: @g-luo

Fix username requirement
  backend/user/serializers.py
Owners: @g-luo

Fix username requirement
  backend/user/serializers.py
Owners: @g-luo

switch to new db for local dev
  backend/catalog/service/course.py
  build/docker-compose.yml
Owners: @g-luo, @hantaowang, @tsaianson

switch to new db for local dev
  backend/catalog/service/course.py
  build/docker-compose.yml
Owners: @g-luo, @hantaowang, @tsaianson

Fix google auth email
  backend/user/schema.py
Owners: @g-luo

Fix google auth email
  backend/user/schema.py
Owners: @g-luo

Change nginx proxy config to backend
  build/nginx.conf
Owners: @hantaowang, @tsaianson

Change nginx proxy config to backend
  build/nginx.conf
Owners: @hantaowang, @tsaianson

Add saved classes for user
  backend/berkeleytime/settings.py
  backend/user/schema.py
Owners: @hantaowang, @LEON-MING, @g-luo

Add saved classes for user
  backend/berkeleytime/settings.py
  backend/user/schema.py
Owners: @hantaowang, @LEON-MING, @g-luo

fixed timezone issue with section updater
  backend/berkeleytime/settings.py
  backend/catalog/mapper/section.py
  backend/catalog/models.py
  backend/catalog/service/section.py
  backend/enrollment/migrations/0002_auto_20201101_0302.py
  backend/enrollment/models.py
  backend/update-data.sh
Owners: @hantaowang, @LEON-MING, @g-luo

fixed timezone issue with section updater
  backend/berkeleytime/settings.py
  backend/catalog/mapper/section.py
  backend/catalog/models.py
  backend/catalog/service/section.py
  backend/enrollment/migrations/0002_auto_20201101_0302.py
  backend/enrollment/models.py
  backend/update-data.sh
Owners: @hantaowang, @LEON-MING, @g-luo

Fix docker config for new backend
  backend/Dockerfile
  build/docker-compose.yml
Owners: @g-luo, @hantaowang, @tsaianson

Fix docker config for new backend
  backend/Dockerfile
  build/docker-compose.yml
Owners: @g-luo, @hantaowang, @tsaianson

Add user app and BerkeleytimeUser model
  backend/user/admin.py
  backend/user/models.py
Owners: @g-luo

Add user app and BerkeleytimeUser model
  backend/user/admin.py
  backend/user/models.py
Owners: @g-luo

Add Django Rest Framework and user endpoint
  backend/berkeleytime/router.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/requirements.txt
  backend/user/serializers.py
  backend/user/urls.py
  backend/user/views.py
Owners: @hantaowang, @LEON-MING, @g-luo

Add Django Rest Framework and user endpoint
  backend/berkeleytime/router.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/requirements.txt
  backend/user/serializers.py
  backend/user/urls.py
  backend/user/views.py
Owners: @hantaowang, @LEON-MING, @g-luo

Extend user model
  backend/user/models.py
Owners: @g-luo

Extend user model
  backend/user/models.py
Owners: @g-luo

Add jwt auth and basic login demo
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/requirements.txt
  backend/user/views.py
Owners: @hantaowang, @LEON-MING, @g-luo

Add jwt auth and basic login demo
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/requirements.txt
  backend/user/views.py
Owners: @hantaowang, @LEON-MING, @g-luo

Integrate Google auth with frontend
  backend/user/views.py
  frontend/src/views/Login/Login.jsx
Owners: @g-luo, @chrisdliu, @michaelli1324

basic google login
  frontend/src/assets/scss/bt/login/_login.scss
  frontend/src/components/Common/Navigation.tsx
  frontend/src/views/Login/Login.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix user model creation in serializer
  backend/user/serializers.py
Owners: @g-luo

Integrate Google auth with frontend
  backend/user/views.py
  frontend/src/views/Login/Login.jsx
Owners: @g-luo, @chrisdliu, @michaelli1324

Add user creation and update
  backend/user/serializers.py
  backend/user/views.py
Owners: @g-luo

Fix user model creation in serializer
  backend/user/serializers.py
Owners: @g-luo

Add user creation and update
  backend/user/serializers.py
  backend/user/views.py
Owners: @g-luo

basic google login
  frontend/src/assets/scss/bt/login/_login.scss
  frontend/src/components/Common/Navigation.tsx
  frontend/src/views/Login/Login.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix typo in requirements.txt
  backend/requirements.txt
Owners: @g-luo

Fix typo in requirements.txt
  backend/requirements.txt
Owners: @g-luo

Merge branch 'leon' into shuming
  backend/berkeleytime/settings.py
  backend/catalog/mapper/__init__.py
  backend/catalog/models.py
  backend/catalog/resource/__init__.py
  backend/catalog/resource/sis_course.py
  backend/catalog/service/__init__.py
  backend/enrollment/mapper/__init__.py
  backend/enrollment/service/__init__.py
  backend/grades/models.py
  frontend/src/views/Faq.tsx
Owners: @hantaowang, @LEON-MING, @g-luo, @chrisdliu, @michaelli1324

Merge branch 'leon' into shuming
  backend/berkeleytime/settings.py
  backend/catalog/mapper/__init__.py
  backend/catalog/models.py
  backend/catalog/resource/__init__.py
  backend/catalog/resource/sis_course.py
  backend/catalog/service/__init__.py
  backend/enrollment/mapper/__init__.py
  backend/enrollment/service/__init__.py
  backend/grades/models.py
  frontend/src/views/Faq.tsx
Owners: @hantaowang, @LEON-MING, @g-luo, @chrisdliu, @michaelli1324

Add back admin panel for managing user
  backend/berkeleytime/settings.py
Owners: @hantaowang, @LEON-MING

Add back admin panel for managing user
  backend/berkeleytime/settings.py
Owners: @hantaowang, @LEON-MING

Remove local postgres container
  build/docker-compose.yml
  build/nginx.conf
Owners: @hantaowang, @tsaianson

Remove local postgres container
  build/docker-compose.yml
  build/nginx.conf
Owners: @hantaowang, @tsaianson

Add user model migration
  backend/user/migrations/0001_initial.py
Owners: @g-luo

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence. 

*               @g-luo
berkeleytime/   @hantaowang @LEON-MING
kubernetes/     @hantaowang @LEON-MING
build/          @hantaowang @tsaianson
frontend/       @chrisdliu @g-luo @michaelli1324
Jenkinsfile     @hantaowang @tsaianson
