Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson, @chrisdliu, @michaelli1324

fix bug where dates are not updating
  .gitignore
  berkeleytime/catalog/service/store/section.py
Owners: @g-luo, @hantaowang, @LEON-MING

fix bug where dates are not updating
  .gitignore
  berkeleytime/catalog/service/store/section.py
Owners: @g-luo, @hantaowang, @LEON-MING

maybe fix super weird bug on filter options
  frontend/src/components/ClassSearchBar/EnrollmentSearchBar.jsx
  frontend/src/components/ClassSearchBar/GradesSearchBar.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

maybe fix super weird bug on filter options
  frontend/src/components/ClassSearchBar/EnrollmentSearchBar.jsx
  frontend/src/components/ClassSearchBar/GradesSearchBar.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

maybe fix super weird bug on filter options
  frontend/src/components/ClassSearchBar/EnrollmentSearchBar.jsx
  frontend/src/components/ClassSearchBar/GradesSearchBar.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

maybe fix super weird bug on filter options
  frontend/src/components/ClassSearchBar/EnrollmentSearchBar.jsx
  frontend/src/components/ClassSearchBar/GradesSearchBar.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

add new faq
  frontend/src/views/Faq/Faq.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

add new faq
  frontend/src/views/Faq/Faq.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

change update image to staging image
  Jenkinsfile
Owners: @hantaowang, @tsaianson

change update image to staging image
  Jenkinsfile
Owners: @hantaowang, @tsaianson

fix jenkinsfile .... again
  Jenkinsfile
Owners: @hantaowang, @tsaianson

fix jenkinsfile .... again
  Jenkinsfile
Owners: @hantaowang, @tsaianson

use 15 min timeout for all cache
  berkeleytime/data/views.py
Owners: @hantaowang, @LEON-MING

use 15 min timeout for all cache
  berkeleytime/data/views.py
Owners: @hantaowang, @LEON-MING

bring back limitrange
  Jenkinsfile
  kubernetes/manifests/infrastructure/limitrange.yaml
Owners: @hantaowang, @tsaianson, @LEON-MING

bring back limitrange
  Jenkinsfile
  kubernetes/manifests/infrastructure/limitrange.yaml
Owners: @hantaowang, @tsaianson, @LEON-MING

add a page before the join application
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/_positions.scss
  frontend/src/components/Recruiting/Description.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

add a page before the join application
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/assets/scss/bt/_positions.scss
  frontend/src/components/Recruiting/Description.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

convert desgn app to the new page
  berkeleytime/forms/configs/DesignApp.yaml
  frontend/public/assets/product-designer.md
  frontend/src/routes/routes.js
  frontend/src/views/Join/DescriptionPages.jsx
  frontend/src/views/Join/Join.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

convert desgn app to the new page
  berkeleytime/forms/configs/DesignApp.yaml
  frontend/public/assets/product-designer.md
  frontend/src/routes/routes.js
  frontend/src/views/Join/DescriptionPages.jsx
  frontend/src/views/Join/Join.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

allow api to be accessed on mobile
  kubernetes/manifests/infrastructure/ingress.yaml
Owners: @hantaowang, @LEON-MING

Add application timeline and update application content
  berkeleytime/forms/configs/DesignApp.yaml
  berkeleytime/forms/configs/EngineeringApp.yaml
  frontend/public/assets/positions.md
  frontend/src/assets/scss/bt/_join.scss
  frontend/src/views/Apply/Apply.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

allow api to be accessed on mobile
  kubernetes/manifests/infrastructure/ingress.yaml
Owners: @hantaowang, @LEON-MING

Create OCTO application, position description, and embedding without navbar or footer view
  berkeleytime/forms/configs/EngineeringApp.yaml
  frontend/public/assets/positions.md
  frontend/public/assets/product-designer.md
  frontend/src/Berkeleytime.jsx
  frontend/src/assets/scss/bt/_forms.scss
  frontend/src/assets/scss/bt/_join.scss
  frontend/src/components/Common/Banner.jsx
  frontend/src/components/Common/Footer.jsx
  frontend/src/components/Common/Navigation.jsx
  frontend/src/components/Form/Form.jsx
  frontend/src/routes/routes.js
  frontend/src/views/Apply/Apply.jsx
  frontend/src/views/Apply/DescriptionPages.jsx
  frontend/src/views/Forms/EngineeringApp.jsx
  frontend/src/views/Join/DescriptionPages.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

Create OCTO application, position description, and embedding without navbar or footer view
  berkeleytime/forms/configs/EngineeringApp.yaml
  frontend/public/assets/positions.md
  frontend/public/assets/product-designer.md
  frontend/src/Berkeleytime.jsx
  frontend/src/assets/scss/bt/_forms.scss
  frontend/src/assets/scss/bt/_join.scss
  frontend/src/components/Common/Banner.jsx
  frontend/src/components/Common/Footer.jsx
  frontend/src/components/Common/Navigation.jsx
  frontend/src/components/Form/Form.jsx
  frontend/src/routes/routes.js
  frontend/src/views/Apply/Apply.jsx
  frontend/src/views/Apply/DescriptionPages.jsx
  frontend/src/views/Forms/EngineeringApp.jsx
  frontend/src/views/Join/DescriptionPages.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

Add application timeline and update application content
  berkeleytime/forms/configs/DesignApp.yaml
  berkeleytime/forms/configs/EngineeringApp.yaml
  frontend/public/assets/positions.md
  frontend/src/assets/scss/bt/_join.scss
  frontend/src/views/Apply/Apply.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

fix jenkinsfile again
  Jenkinsfile
Owners: @hantaowang, @tsaianson

fix jenkinsfile again
  Jenkinsfile
Owners: @hantaowang, @tsaianson

release notes
  frontend/public/assets/releases.yaml
  frontend/src/Berkeleytime.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

release notes
  frontend/public/assets/releases.yaml
  frontend/src/Berkeleytime.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

add --project to build
  Jenkinsfile
Owners: @hantaowang, @tsaianson

add --project to build
  Jenkinsfile
Owners: @hantaowang, @tsaianson

Update join links, update about page, and add application form close time
  berkeleytime/forms/configs/DesignApp.yaml
  berkeleytime/forms/configs/EngineeringApp.yaml
  frontend/public/assets/members.yaml
  frontend/src/components/Common/Footer.jsx
  frontend/src/components/Contributors/CurrentContributors.jsx
  frontend/src/components/Landing/Jumbotron.jsx
  frontend/src/views/About/About.jsx
  frontend/src/views/Faq/Faq.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

Update join links, update about page, and add application form close time
  berkeleytime/forms/configs/DesignApp.yaml
  berkeleytime/forms/configs/EngineeringApp.yaml
  frontend/public/assets/members.yaml
  frontend/src/components/Common/Footer.jsx
  frontend/src/components/Contributors/CurrentContributors.jsx
  frontend/src/components/Landing/Jumbotron.jsx
  frontend/src/views/About/About.jsx
  frontend/src/views/Faq/Faq.jsx
Owners: @hantaowang, @LEON-MING, @chrisdliu, @g-luo, @michaelli1324

fix samll bug with forms
  berkeleytime/catalog/service/store/course.py
  berkeleytime/forms/configs/DesignApp.yaml
  berkeleytime/forms/configs/EngineeringApp.yaml
  berkeleytime/forms/googleapi.py
Owners: @hantaowang, @LEON-MING

fix samll bug with forms
  berkeleytime/catalog/service/store/course.py
  berkeleytime/forms/configs/DesignApp.yaml
  berkeleytime/forms/configs/EngineeringApp.yaml
  berkeleytime/forms/googleapi.py
Owners: @hantaowang, @LEON-MING

Berkeleytime.jsx
  frontend/src/Berkeleytime.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Berkeleytime.jsx
  frontend/src/Berkeleytime.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix typo and update about info
  frontend/public/assets/members.yaml
  frontend/public/assets/releases.yaml
  frontend/src/components/Contributors/CurrentContributors.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix typo and update about info
  frontend/public/assets/members.yaml
  frontend/public/assets/releases.yaml
  frontend/src/components/Contributors/CurrentContributors.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence. 

*               @g-luo
berkeleytime/   @hantaowang @LEON-MING
kubernetes/     @hantaowang @LEON-MING
build/          @hantaowang @tsaianson
frontend/       @chrisdliu @g-luo @michaelli1324
Jenkinsfile     @hantaowang @tsaianson
