Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson, @chrisdliu, @michaelli1324

remove login page, change login button
  frontend/src/Routes.tsx
  frontend/src/assets/scss/bt/login/_login.scss
  frontend/src/components/Common/Navigation.tsx
  frontend/src/components/Login/LoginButton.jsx
  frontend/src/redux/auth/reducer.ts
  frontend/src/redux/store.ts
  frontend/src/views/Login/Login.jsx
  frontend/src/views/Profile/Profile.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

fix misc errors
  frontend/src/Routes.tsx
  frontend/src/redux/auth/reducer.ts
  frontend/src/redux/auth/types.ts
Owners: @chrisdliu, @g-luo, @michaelli1324

fix misc errors
  frontend/src/Routes.tsx
  frontend/src/redux/auth/reducer.ts
  frontend/src/redux/auth/types.ts
Owners: @chrisdliu, @g-luo, @michaelli1324

Imported Utils & Removed Mobile Styling
  frontend/src/assets/scss/bt/profile/_card.scss
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/utils/utils.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Imported Utils & Removed Mobile Styling
  frontend/src/assets/scss/bt/profile/_card.scss
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/utils/utils.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Revert the Jenkinsfile. For some reason, polling keeps responding to 'Started by an SCM change'
  Jenkinsfile
Owners: @hantaowang, @tsaianson

Revert the Jenkinsfile. For some reason, polling keeps responding to 'Started by an SCM change'
  Jenkinsfile
Owners: @hantaowang, @tsaianson

switch staging to new backend
  Jenkinsfile
Owners: @hantaowang, @tsaianson

switch staging to new backend
  Jenkinsfile
Owners: @hantaowang, @tsaianson

Add frontend graphql config
  build/nginx.conf
  frontend/package.json
  frontend/relay.config.js
  frontend/schema.graphql
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/index.tsx
  frontend/src/relay/environment.js
Owners: @hantaowang, @tsaianson, @chrisdliu, @g-luo, @michaelli1324

Add frontend graphql config
  build/nginx.conf
  frontend/package.json
  frontend/relay.config.js
  frontend/schema.graphql
  frontend/src/assets/scss/berkeleytime.scss
  frontend/src/index.tsx
  frontend/src/relay/environment.js
Owners: @hantaowang, @tsaianson, @chrisdliu, @g-luo, @michaelli1324

disabled sphinx for now
  Jenkinsfile
Owners: @hantaowang, @tsaianson

disabled sphinx for now
  Jenkinsfile
Owners: @hantaowang, @tsaianson

change k8 yaml to use python3
  kubernetes/manifests/berkeleytime/backend-deploy-prod.yaml
  kubernetes/manifests/berkeleytime/backend-deploy-stage.yaml
Owners: @hantaowang, @LEON-MING

change k8 yaml to use python3
  kubernetes/manifests/berkeleytime/backend-deploy-prod.yaml
  kubernetes/manifests/berkeleytime/backend-deploy-stage.yaml
Owners: @hantaowang, @LEON-MING

prevent cache key conflicts with prod
  backend/catalog/resource/sis_class.py
  backend/catalog/views.py
  backend/enrollment/views.py
  backend/grades/views.py
Owners: @g-luo

prevent cache key conflicts with prod
  backend/catalog/resource/sis_class.py
  backend/catalog/views.py
  backend/enrollment/views.py
  backend/grades/views.py
Owners: @g-luo

Add cross listing support for API v0.2
  backend/catalog/mapper/course.py
  backend/catalog/models.py
  backend/catalog/service/course.py
  backend/enrollment/views.py
  backend/grades/views.py
Owners: @g-luo

Add cross listing support for API v0.2
  backend/catalog/mapper/course.py
  backend/catalog/models.py
  backend/catalog/service/course.py
  backend/enrollment/views.py
  backend/grades/views.py
Owners: @g-luo

Fix cross listing course mapping
  backend/catalog/mapper/course.py
Owners: @g-luo

Fix cross listing course mapping
  backend/catalog/mapper/course.py
Owners: @g-luo

Add course info to cross-listed grade and enrollment data
  backend/catalog/mapper/course.py
  backend/catalog/service/course.py
  backend/enrollment/views.py
  backend/grades/views.py
Owners: @g-luo

Add course info to cross-listed grade and enrollment data
  backend/catalog/mapper/course.py
  backend/catalog/service/course.py
  backend/enrollment/views.py
  backend/grades/views.py
Owners: @g-luo

fix cross-listing
  backend/catalog/mapper/course.py
  backend/catalog/migrations/0005_course_cross_listing.py
  backend/catalog/service/course.py
  backend/enrollment/views.py
  backend/grades/views.py
  build/nginx.conf
Owners: @g-luo, @hantaowang, @tsaianson

fix cross-listing
  backend/catalog/mapper/course.py
  backend/catalog/migrations/0005_course_cross_listing.py
  backend/catalog/service/course.py
  backend/enrollment/views.py
  backend/grades/views.py
  build/nginx.conf
Owners: @g-luo, @hantaowang, @tsaianson

Update database
  build/docker-compose.yml
Owners: @hantaowang, @tsaianson

Update database
  build/docker-compose.yml
Owners: @hantaowang, @tsaianson

Use graphql node id for save and remove classes
  backend/user/schema.py
Owners: @g-luo

Use graphql node id for save and remove classes
  backend/user/schema.py
Owners: @g-luo

Remove testing stuff
  backend/user/schema.py
Owners: @g-luo

Remove testing stuff
  backend/user/schema.py
Owners: @g-luo

Added Edit Buttons & Major Dropdown
  frontend/src/assets/scss/bt/profile/_account.scss
  frontend/src/assets/scss/bt/profile/_profile.scss
  frontend/src/assets/svg/profile/edit.svg
  frontend/src/components/Profile/AccountSubview.jsx
  frontend/src/components/Profile/Property.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Added Edit Buttons & Major Dropdown
  frontend/src/assets/scss/bt/profile/_account.scss
  frontend/src/assets/scss/bt/profile/_profile.scss
  frontend/src/assets/svg/profile/edit.svg
  frontend/src/components/Profile/AccountSubview.jsx
  frontend/src/components/Profile/Property.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Resolved ReactSelect Styles
  frontend/src/components/Profile/Property.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Resolved ReactSelect Styles
  frontend/src/components/Profile/Property.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Add Apollo GraphQL
  frontend/codegen.yml
  frontend/package.json
  frontend/relay.config.js
  frontend/src/graphql/client.ts
  frontend/src/graphql/graphql.tsx
  frontend/src/graphql/queries/GetFilters.graphql
  frontend/src/graphql/stub.graphql
  frontend/src/index.tsx
  frontend/src/relay/environment.js
Owners: @chrisdliu, @g-luo, @michaelli1324

Add Apollo GraphQL
  frontend/codegen.yml
  frontend/package.json
  frontend/relay.config.js
  frontend/src/graphql/client.ts
  frontend/src/graphql/graphql.tsx
  frontend/src/graphql/queries/GetFilters.graphql
  frontend/src/graphql/stub.graphql
  frontend/src/index.tsx
  frontend/src/relay/environment.js
Owners: @chrisdliu, @g-luo, @michaelli1324

Move course catalog to GraphQL + Hooks
  frontend/package.json
  frontend/src/components/Catalog/FilterResults.jsx
  frontend/src/components/Catalog/FilterResults.tsx
  frontend/src/graphql/queries/GetCoursesForFilter.graphql
  frontend/src/redux/store.ts
  frontend/src/utils/courses.ts
  frontend/src/utils/courses/search.ts
  frontend/src/utils/courses/sorting.ts
  frontend/src/utils/search.ts
  frontend/src/views/Catalog/Catalog.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Move course catalog to GraphQL + Hooks
  frontend/package.json
  frontend/src/components/Catalog/FilterResults.jsx
  frontend/src/components/Catalog/FilterResults.tsx
  frontend/src/graphql/queries/GetCoursesForFilter.graphql
  frontend/src/redux/store.ts
  frontend/src/utils/courses.ts
  frontend/src/utils/courses/search.ts
  frontend/src/utils/courses/sorting.ts
  frontend/src/utils/search.ts
  frontend/src/views/Catalog/Catalog.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Migrate more code to typescript + hooks
  frontend/codegen.yml
  frontend/package.json
  frontend/src/components/Catalog/FilterResults.tsx
  frontend/src/components/ClassDescription/ClassDescription.jsx
  frontend/src/components/ClassDescription/ClassDescriptionModal.jsx
  frontend/src/components/ClassDescription/ClassDescriptionModal.tsx
  frontend/src/graphql/graphql.tsx
  frontend/src/graphql/queries/GetCoursesForFilter.graphql
  frontend/src/utils/courses.ts
  frontend/src/views/Catalog/Catalog.tsx
Owners: @chrisdliu, @g-luo, @michaelli1324

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence. 

*               @g-luo
berkeleytime/   @hantaowang @LEON-MING
kubernetes/     @hantaowang @LEON-MING
build/          @hantaowang @tsaianson
frontend/       @chrisdliu @g-luo @michaelli1324
Jenkinsfile     @hantaowang @tsaianson
