Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson, @chrisdliu, @michaelli1324

Extend user model
  backend/user/models.py
Owners: @g-luo

Extend user model
  backend/user/models.py
Owners: @g-luo

Add jwt auth and basic login demo
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/requirements.txt
  backend/user/views.py
Owners: @hantaowang, @LEON-MING, @g-luo

Add jwt auth and basic login demo
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/requirements.txt
  backend/user/views.py
Owners: @hantaowang, @LEON-MING, @g-luo

Fix remaining issue on Safari catalog
  frontend/src/assets/scss/bt/catalog/_description.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix remaining issue on Safari catalog
  frontend/src/assets/scss/bt/catalog/_description.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

added SIS API clients
  backend/berkeleytime/config/finals/finals.py
  backend/berkeleytime/config/finals/finals_general.py
  backend/berkeleytime/urls.py
  backend/catalog/models.py
  backend/catalog/resource/sis_class.py
  backend/catalog/resource/sis_course.py
  backend/enrollment/mapper.py
  backend/enrollment/models.py
  backend/enrollment/service.py
  backend/enrollment/views.py
  backend/grades/utils.py
Owners: @hantaowang, @LEON-MING, @g-luo

added SIS API clients
  backend/berkeleytime/config/finals/finals.py
  backend/berkeleytime/config/finals/finals_general.py
  backend/berkeleytime/urls.py
  backend/catalog/models.py
  backend/catalog/resource/sis_class.py
  backend/catalog/resource/sis_course.py
  backend/enrollment/mapper.py
  backend/enrollment/models.py
  backend/enrollment/service.py
  backend/enrollment/views.py
  backend/grades/utils.py
Owners: @hantaowang, @LEON-MING, @g-luo

updated configs for spring 2021
  berkeleytime/berkeleytime/config/finals/semesters/spring2021.py
  berkeleytime/berkeleytime/config/general.py
  berkeleytime/berkeleytime/config/ongoing.py
  berkeleytime/berkeleytime/config/semesters/spring2021.py
  berkeleytime/berkeleytime/settings.py
Owners: @hantaowang, @LEON-MING

updated configs for spring 2021
  berkeleytime/berkeleytime/config/finals/semesters/spring2021.py
  berkeleytime/berkeleytime/config/general.py
  berkeleytime/berkeleytime/config/ongoing.py
  berkeleytime/berkeleytime/config/semesters/spring2021.py
  berkeleytime/berkeleytime/settings.py
Owners: @hantaowang, @LEON-MING

Remove application related content
  frontend/src/Berkeleytime.jsx
  frontend/src/components/Common/Footer.jsx
  frontend/src/components/Common/Navigation.jsx
  frontend/src/routes/routes.js
  frontend/src/views/Apply/Apply.jsx
  frontend/src/views/Faq/Faq.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Remove application related content
  frontend/src/Berkeleytime.jsx
  frontend/src/components/Common/Footer.jsx
  frontend/src/components/Common/Navigation.jsx
  frontend/src/routes/routes.js
  frontend/src/views/Apply/Apply.jsx
  frontend/src/views/Faq/Faq.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Update releases and banner
  frontend/public/assets/releases.yaml
  frontend/src/components/Common/Banner.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Update releases and banner
  frontend/public/assets/releases.yaml
  frontend/src/components/Common/Banner.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

fixed comments and variable names
  berkeleytime/berkeleytime/config/finals/semesters/spring2021.py
  berkeleytime/berkeleytime/config/semesters/spring2021.py
Owners: @hantaowang, @LEON-MING

fixed comments and variable names
  berkeleytime/berkeleytime/config/finals/semesters/spring2021.py
  berkeleytime/berkeleytime/config/semesters/spring2021.py
Owners: @hantaowang, @LEON-MING

added enrollment/section mappers and enrollment service
  backend/catalog/mapper/section.py
  backend/enrollment/mapper.py
  backend/enrollment/service.py
  backend/enrollment/views.py
  backend/forms/utils.py
  backend/requirements.txt
Owners: @g-luo

added enrollment/section mappers and enrollment service
  backend/catalog/mapper/section.py
  backend/enrollment/mapper.py
  backend/enrollment/service.py
  backend/enrollment/views.py
  backend/forms/utils.py
  backend/requirements.txt
Owners: @g-luo

Force banner to remain open
  frontend/src/redux/reducers/banner.js
Owners: @chrisdliu, @g-luo, @michaelli1324

Force banner to remain open
  frontend/src/redux/reducers/banner.js
Owners: @chrisdliu, @g-luo, @michaelli1324

redeploy staging
  berkeleytime/berkeleytime/urls.py
Owners: @hantaowang, @LEON-MING

redeploy staging
  berkeleytime/berkeleytime/urls.py
Owners: @hantaowang, @LEON-MING

fixed enrollment APIs for new backend
  backend/berkeleytime/settings.py
  backend/catalog/mapper/section.py
  backend/enrollment/service.py
  backend/enrollment/views.py
  backend/forms/utils.py
Owners: @hantaowang, @LEON-MING, @g-luo

fixed enrollment APIs for new backend
  backend/berkeleytime/settings.py
  backend/catalog/mapper/section.py
  backend/enrollment/service.py
  backend/enrollment/views.py
  backend/forms/utils.py
Owners: @hantaowang, @LEON-MING, @g-luo

change to spring2021 for new backend
  backend/berkeleytime/config/finals/semesters/spring2021.py
  backend/berkeleytime/config/general.py
  backend/berkeleytime/config/semesters/spring2021.py
  backend/berkeleytime/settings.py
Owners: @hantaowang, @LEON-MING

change to spring2021 for new backend
  backend/berkeleytime/config/finals/semesters/spring2021.py
  backend/berkeleytime/config/general.py
  backend/berkeleytime/config/semesters/spring2021.py
  backend/berkeleytime/settings.py
Owners: @hantaowang, @LEON-MING

cleaned up the models, removing unused fields
  backend/berkeleytime/config/semesters/fall2016.py
  backend/berkeleytime/config/semesters/fall2017.py
  backend/berkeleytime/config/semesters/fall2018.py
  backend/berkeleytime/config/semesters/fall2019.py
  backend/berkeleytime/config/semesters/fall2020.py
  backend/berkeleytime/config/semesters/spring2017.py
  backend/berkeleytime/config/semesters/spring2018.py
  backend/berkeleytime/config/semesters/spring2019.py
  backend/berkeleytime/config/semesters/spring2020.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/catalog/mapper/section.py
  backend/catalog/migrations/0001_initial.py
  backend/catalog/models.py
  backend/catalog/views.py
  backend/enrollment/migrations/0001_initial.py
  backend/enrollment/models.py
  backend/enrollment/views.py
  backend/grades/migrations/0001_initial.py
  backend/grades/models.py
  backend/playlist/migrations/0001_initial.py
  backend/playlist/migrations/0002_auto_20201015_0133.py
  backend/playlist/models.py
Owners: @hantaowang, @LEON-MING, @g-luo

cleaned up the models, removing unused fields
  backend/berkeleytime/config/semesters/fall2016.py
  backend/berkeleytime/config/semesters/fall2017.py
  backend/berkeleytime/config/semesters/fall2018.py
  backend/berkeleytime/config/semesters/fall2019.py
  backend/berkeleytime/config/semesters/fall2020.py
  backend/berkeleytime/config/semesters/spring2017.py
  backend/berkeleytime/config/semesters/spring2018.py
  backend/berkeleytime/config/semesters/spring2019.py
  backend/berkeleytime/config/semesters/spring2020.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/catalog/mapper/section.py
  backend/catalog/migrations/0001_initial.py
  backend/catalog/models.py
  backend/catalog/views.py
  backend/enrollment/migrations/0001_initial.py
  backend/enrollment/models.py
  backend/enrollment/views.py
  backend/grades/migrations/0001_initial.py
  backend/grades/models.py
  backend/playlist/migrations/0001_initial.py
  backend/playlist/migrations/0002_auto_20201015_0133.py
  backend/playlist/models.py
Owners: @hantaowang, @LEON-MING, @g-luo

basic google login
  frontend/src/assets/scss/bt/login/_login.scss
  frontend/src/components/Common/Navigation.tsx
  frontend/src/views/Login/Login.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

basic google login
  frontend/src/assets/scss/bt/login/_login.scss
  frontend/src/components/Common/Navigation.tsx
  frontend/src/views/Login/Login.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Add user creation and update
  backend/user/serializers.py
  backend/user/views.py
Owners: @g-luo

Add user creation and update
  backend/user/serializers.py
  backend/user/views.py
Owners: @g-luo

Integrate Google auth with frontend
  backend/user/views.py
  frontend/src/views/Login/Login.jsx
Owners: @g-luo, @chrisdliu, @michaelli1324

Integrate Google auth with frontend
  backend/user/views.py
  frontend/src/views/Login/Login.jsx
Owners: @g-luo, @chrisdliu, @michaelli1324

Fix user model creation in serializer
  backend/user/serializers.py
Owners: @g-luo

Fix user model creation in serializer
  backend/user/serializers.py
Owners: @g-luo

added new initial commits for models
  backend/catalog/migrations/0001_initial.py
  backend/enrollment/migrations/0001_initial.py
  backend/grades/migrations/0001_initial.py
  backend/playlist/migrations/0001_initial.py
Owners: @g-luo

added new initial commits for models
  backend/catalog/migrations/0001_initial.py
  backend/enrollment/migrations/0001_initial.py
  backend/grades/migrations/0001_initial.py
  backend/playlist/migrations/0001_initial.py
Owners: @g-luo

switched docker-compose db
  build/docker-compose.yml
Owners: @hantaowang, @tsaianson

switched docker-compose db
  build/docker-compose.yml
Owners: @hantaowang, @tsaianson

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence. 

*               @g-luo
berkeleytime/   @hantaowang @LEON-MING
kubernetes/     @hantaowang @LEON-MING
build/          @hantaowang @tsaianson
frontend/       @chrisdliu @g-luo @michaelli1324
Jenkinsfile     @hantaowang @tsaianson
