Repository asuc-octo/berkeleytime, changes with the owners that CODEOWNERS names for each.
All owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson, @chrisdliu, @michaelli1324

forgot about this
  frontend/src/redux/reducers/isMobile.js
Owners: @chrisdliu, @g-luo, @michaelli1324

forgot about this
  frontend/src/redux/reducers/isMobile.js
Owners: @chrisdliu, @g-luo, @michaelli1324

remove mobile
  frontend/src/redux/store.ts
Owners: @chrisdliu, @g-luo, @michaelli1324

remove mobile
  frontend/src/redux/store.ts
Owners: @chrisdliu, @g-luo, @michaelli1324

isMobile -> common.mobile
  frontend/src/views/Catalog/Catalog.jsx
  frontend/src/views/Enrollment/Enrollment.jsx
  frontend/src/views/Grades/Grades.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

isMobile -> common.mobile
  frontend/src/views/Catalog/Catalog.jsx
  frontend/src/views/Enrollment/Enrollment.jsx
  frontend/src/views/Grades/Grades.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix odd catalog scrolling behavior
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/catalog/_catalog.scss
  frontend/src/assets/scss/bt/catalog/_filter.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix odd catalog scrolling behavior
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/catalog/_catalog.scss
  frontend/src/assets/scss/bt/catalog/_filter.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Allow the catalog container to grow.
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/catalog/_catalog.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Allow the catalog container to grow.
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/catalog/_catalog.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix layout on Safari
  frontend/src/assets/scss/bt/catalog/_catalog.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix layout on Safari
  frontend/src/assets/scss/bt/catalog/_catalog.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix issue where columns weren't full-width
  frontend/src/assets/scss/bt/catalog/_catalog.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix issue where columns weren't full-width
  frontend/src/assets/scss/bt/catalog/_catalog.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Centralize all layout changes in viewport style.
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/catalog/_catalog.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Centralize all layout changes in viewport style.
  frontend/src/assets/scss/bt/_berkeleytime.scss
  frontend/src/assets/scss/bt/catalog/_catalog.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Very basic (bad) fuzzy searching
  frontend/package.json
  frontend/src/Routes.tsx
  frontend/src/components/Catalog/Filter.jsx
  frontend/src/components/Catalog/FilterResults.jsx
  frontend/src/components/ClassDescription/ClassDescription.jsx
  frontend/src/components/Common/Navigation.tsx
  frontend/src/variables/Variables.js
  frontend/src/views/Catalog/Catalog.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Very basic (bad) fuzzy searching
  frontend/package.json
  frontend/src/Routes.tsx
  frontend/src/components/Catalog/Filter.jsx
  frontend/src/components/Catalog/FilterResults.jsx
  frontend/src/components/ClassDescription/ClassDescription.jsx
  frontend/src/components/Common/Navigation.tsx
  frontend/src/variables/Variables.js
  frontend/src/views/Catalog/Catalog.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

started migration to django 3.1 and python 3.8.5
  .gitignore
  backend/berkeleytime/__init__.py
  backend/berkeleytime/asgi.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/berkeleytime/wsgi.py
  backend/manage.py
  backend/requirements.txt
  build/docker-compose.yml
Owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson

started migration to django 3.1 and python 3.8.5
  .gitignore
  backend/berkeleytime/__init__.py
  backend/berkeleytime/asgi.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/berkeleytime/wsgi.py
  backend/manage.py
  backend/requirements.txt
  build/docker-compose.yml
Owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson

started migration to django 3.1 and python 3.8
  .gitignore
  backend/berkeleytime/__init__.py
  backend/berkeleytime/asgi.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/berkeleytime/wsgi.py
  backend/manage.py
  backend/requirements.txt
  build/docker-compose.yml
Owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson

started migration to django 3.1 and python 3.8
  .gitignore
  backend/berkeleytime/__init__.py
  backend/berkeleytime/asgi.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/berkeleytime/wsgi.py
  backend/manage.py
  backend/requirements.txt
  build/docker-compose.yml
Owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson

tested build of new backend
  backend/Dockerfile
  backend/requirements.txt
Owners: @g-luo

tested build of new backend
  backend/Dockerfile
  backend/requirements.txt
Owners: @g-luo

remove other login and disable radium for fix
  frontend/src/components/ClassDescription/ClassDescription.jsx
  frontend/src/components/CompareClasses/CompareClasses.jsx
  frontend/src/views/Login.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

remove other login and disable radium for fix
  frontend/src/components/ClassDescription/ClassDescription.jsx
  frontend/src/components/CompareClasses/CompareClasses.jsx
  frontend/src/views/Login.jsx
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix docker config for new backend
  backend/Dockerfile
  backend/berkeleytime/urls.py
  build/docker-compose.yml
Owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson

Fix docker config for new backend
  backend/Dockerfile
  backend/berkeleytime/urls.py
  build/docker-compose.yml
Owners: @g-luo, @hantaowang, @LEON-MING, @tsaianson

Add user app and BerkeleytimeUser model
  backend/berkeleytime/settings.py
  backend/user/__init__.py
  backend/user/admin.py
  backend/user/apps.py
  backend/user/models.py
  backend/user/tests.py
  backend/user/views.py
Owners: @hantaowang, @LEON-MING, @g-luo

Add user app and BerkeleytimeUser model
  backend/berkeleytime/settings.py
  backend/user/__init__.py
  backend/user/admin.py
  backend/user/apps.py
  backend/user/models.py
  backend/user/tests.py
  backend/user/views.py
Owners: @hantaowang, @LEON-MING, @g-luo

Add Django Rest Framework and user endpoint
  backend/berkeleytime/router.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/requirements.txt
  backend/user/serializers.py
  backend/user/urls.py
  backend/user/views.py
Owners: @hantaowang, @LEON-MING, @g-luo

Add Django Rest Framework and user endpoint
  backend/berkeleytime/router.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/requirements.txt
  backend/user/serializers.py
  backend/user/urls.py
  backend/user/views.py
Owners: @hantaowang, @LEON-MING, @g-luo

Fixes description layout for classes with many sections.
  frontend/src/assets/scss/bt/catalog/_catalog.scss
  frontend/src/assets/scss/bt/catalog/_description.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Fixes description layout for classes with many sections.
  frontend/src/assets/scss/bt/catalog/_catalog.scss
  frontend/src/assets/scss/bt/catalog/_description.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Add whole-column scrolling
  frontend/src/assets/scss/bt/catalog/_description.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Add whole-column scrolling
  frontend/src/assets/scss/bt/catalog/_description.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix pill height bug associated with small viewports
  frontend/src/assets/scss/bt/catalog/_description.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

Fix pill height bug associated with small viewports
  frontend/src/assets/scss/bt/catalog/_description.scss
Owners: @chrisdliu, @g-luo, @michaelli1324

ported /catalog, /grades, and /forms. still working on /enrollment
  backend/berkeleytime/config/general.py
  backend/berkeleytime/config/semesters/fall2018.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/berkeleytime/utils/__init__.py
  backend/berkeleytime/utils/requests.py
  backend/catalog/models.py
  backend/catalog/utils.py
  backend/catalog/views.py
  backend/enrollment/views.py
  backend/forms/configs/BugSurvey.yaml
  backend/forms/configs/DesignApp.yaml
  backend/forms/configs/EngineeringApp.yaml
  backend/forms/configs/MailingList.yaml
  backend/forms/configs/TestSurvey0.yaml
  backend/forms/configs/UserTestingSurvey.yaml
  backend/forms/googleapi.py
  backend/forms/hooks.py
  backend/forms/utils.py
  backend/forms/views.py
  backend/grades/models.py
  backend/grades/utils.py
  backend/grades/views.py
  backend/requirements.txt
Owners: @hantaowang, @LEON-MING, @g-luo

ported /catalog, /grades, and /forms. still working on /enrollment
  backend/berkeleytime/config/general.py
  backend/berkeleytime/config/semesters/fall2018.py
  backend/berkeleytime/settings.py
  backend/berkeleytime/urls.py
  backend/berkeleytime/utils/__init__.py
  backend/berkeleytime/utils/requests.py
  backend/catalog/models.py
  backend/catalog/utils.py
  backend/catalog/views.py
  backend/enrollment/views.py
  backend/forms/configs/BugSurvey.yaml
  backend/forms/configs/DesignApp.yaml
  backend/forms/configs/EngineeringApp.yaml
  backend/forms/configs/MailingList.yaml
  backend/forms/configs/TestSurvey0.yaml
  backend/forms/configs/UserTestingSurvey.yaml
  backend/forms/googleapi.py
  backend/forms/hooks.py
  backend/forms/utils.py
  backend/forms/views.py
  backend/grades/models.py
  backend/grades/utils.py
  backend/grades/views.py
  backend/requirements.txt
Owners: @hantaowang, @LEON-MING, @g-luo

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence. 

*               @g-luo
berkeleytime/   @hantaowang @LEON-MING
kubernetes/     @hantaowang @LEON-MING
build/          @hantaowang @tsaianson
frontend/       @chrisdliu @g-luo @michaelli1324
Jenkinsfile     @hantaowang @tsaianson
